language: python
python:
  - "2.7"

services:
  - docker

install:
  - docker build . -f ./docker/Dockerfile.travis -t screenly/travis-ci
  - docker run  --name travis-ci -v $TRAVIS_BUILD_DIR:/root/screenly -td  screenly/travis-ci /bin/bash

before_script:
  - docker exec travis-ci bash -c "echo -e '[local]\nlocalhost ansible_connection=local' > ansible/localhost"
  - docker exec travis-ci bash -c "python tests/rtmplite/rtmp.py -r /tmp/" &
  - sleep 3
  - docker exec travis-ci bash -c "python server.py" &
  - sleep 3
  - docker exec travis-ci bash -c "Xvfb :99 -ac" &
  - sleep 3
script:
  - docker exec -ti travis-ci bash -c "find . ! -path '*/rtmplite/*' -name \*.py -exec pep8 --ignore=E402,E501,E731 {} +"
  - docker exec -ti travis-ci bash -c "nosetests -v -a '!fixme' --with-isolation"
  - docker exec -ti travis-ci bash -c "ansible-playbook --syntax-check -i ansible/localhost ansible/site.yml"
  - python -m SimpleHTTPServer 8080 &
  - sleep 3
  - bash static/spec/runner.sh

sudo: false
dist: trusty
