version: "2"
services:
  srly-ose-server:
    image: screenly/srly-ose-server:latest
    environment:
      - HOME=/data
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    privileged: true
    restart: always
    volumes:
      - resin-data:/data

  srly-ose-viewer:
    image: screenly/srly-ose-viewer:latest-pi3
    depends_on:
      - srly-ose-server
    environment:
      - HOME=/data
      - NOREFRESH=1
      - PORT=80
    network_mode: "host"
    privileged: true
    restart: always
    volumes:
      - resin-data:/data

  srly-ose-websocket:
    image: screenly/srly-ose-websocket:latest
    depends_on:
      - srly-ose-server
    environment:
      - HOME=/data
      - LISTEN=0.0.0.0
    privileged: true
    restart: always
    volumes:
      - resin-data:/data

  srly-ose-celery:
    image: screenly/srly-ose-celery:latest
    depends_on:
      - srly-ose-server
      - redis
    environment:
      - HOME=/data
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    privileged: true
    restart: always
    volumes:
      - resin-data:/data

  redis:
    image: screenly/srly-ose-redis:latest
    restart: always

  srly-ose-nginx:
    image: screenly/srly-ose-nginx:latest
    environment:
      - HOME=/data
    depends_on:
      - srly-ose-server
      - srly-ose-websocket
    restart: always
    volumes:
      - resin-data:/data:ro

volumes:
    resin-data:
