version: "2.2"
services:
  anthias-test:
    build:
      context: .
      dockerfile: docker/Dockerfile.test
    environment:
      - HOME=/data
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - ENVIRONMENT=development
    stdin_open: true
    tty: true
    volumes:
      - .:/usr/src/app
      - data:/data

  anthias-celery:
    build:
      context: .
      dockerfile: docker/Dockerfile.celery
    depends_on:
      - anthias-test
      - redis
    environment:
      - HOME=/data
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    restart: always
    volumes:
      - data:/data

  redis:
    image: redis:alpine

volumes:
  data:
  redis-data:
