version: "2.2"
services:
  srly-ose-base:
    image: screenly/srly-ose-base:latest-x86
    build:
      context: .
      dockerfile: docker/Dockerfile.base.dev
      cache_from:
        - screenly/srly-ose-base:latest-x86

  srly-ose-server:
    image: screenly/srly-ose-server:latest-x86
    build:
      context: .
      dockerfile: docker/Dockerfile.server.dev
      cache_from:
        - screenly/srly-ose-base:latest-x86
        - screenly/srly-ose-server:latest-x86
    depends_on:
      - srly-ose-base
    environment:
      - HOME=/data
      - LISTEN=0.0.0.0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    restart: always
    volumes:
      - resin-data:/data

# We might bring this in in the future
#  srly-ose-viewer:
#    build:
#      context: .
#      dockerfile: docker/Dockerfile.viewer
#    depends_on:
#      - srly-ose-server
#    environment:
#      - HOME=/data
#      - PORT=80
#      - NOREFRESH=1
#      - LISTEN=srly-ose-nginx
#    privileged: true
#    restart: always
#    volumes:
#      - resin-data:/data

  srly-ose-websocket:
    image: screenly/srly-ose-websocket:latest-x86
    build:
      context: .
      dockerfile: docker/Dockerfile.websocket.dev
      cache_from:
        - screenly/srly-ose-base:latest-x86
        - screenly/srly-ose-websocket:latest-x86
    depends_on:
      - srly-ose-base
      - srly-ose-server
    environment:
      - HOME=/data
      - LISTEN=0.0.0.0
    restart: always
    volumes:
      - resin-data:/data

  srly-ose-celery:
    image: screenly/srly-ose-celery:latest-x86
    build:
      context: .
      dockerfile: docker/Dockerfile.celery.dev
      cache_from:
        - screenly/srly-ose-base:latest-x86
        - screenly/srly-ose-celery:latest-x86
    depends_on:
      - srly-ose-base
      - srly-ose-server
      - redis
    environment:
      - HOME=/data
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    restart: always
    volumes:
      - resin-data:/data

  redis:
    image: redis:alpine

  srly-ose-nginx:
    image: screenly/srly-ose-nginx:latest-x86
    build:
      context: .
      dockerfile: docker/Dockerfile.nginx.dev
    ports:
      - 8000:80
    environment:
      - HOME=/data
    depends_on:
      - srly-ose-base
      - srly-ose-server
      - srly-ose-websocket
    restart: always
    volumes:
      - resin-data:/data:ro

volumes:
    resin-data:
    redis-data:
