# vim: ft=yaml

version: "2"
services:
  anthias-server:
    image: ghcr.io/screenly/anthias-server:${GIT_SHORT_HASH}-${BOARD}
    build:
      context: .
      dockerfile: ./docker/Dockerfile.server
    ports:
      - 80:8080
    environment:
      - HOME=/data
      - LISTEN=0.0.0.0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
    devices:
      - "/dev/vchiq:/dev/vchiq"
    restart: always
    volumes:
      - resin-data:/data
    labels:
      io.balena.features.supervisor-api: '1'

  anthias-viewer:
    image: ghcr.io/screenly/anthias-viewer:${GIT_SHORT_HASH}-${BOARD}
    build:
      context: .
      dockerfile: ./docker/Dockerfile.viewer
    depends_on:
      - anthias-server
    environment:
      - HOME=/data
      - PORT=8080
      - NOREFRESH=1
      - LISTEN=anthias-server
    privileged: true
    restart: always
    shm_size: ${SHM_SIZE}
    volumes:
      - resin-data:/data
    labels:
      io.balena.features.supervisor-api: '1'

  anthias-celery:
    # Runs on the same image as anthias-server with a CMD override.
    # See docker-compose.yml.tmpl for context on the merge.
    image: ghcr.io/screenly/anthias-server:${GIT_SHORT_HASH}-${BOARD}
    command: >
      celery -A celery_tasks.celery worker -B -n worker@anthias
      --loglevel=info --schedule /tmp/celerybeat-schedule
    depends_on:
      - anthias-server
      - redis
    environment:
      - HOME=/data
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    devices:
      - "/dev/vchiq:/dev/vchiq"
    restart: always
    volumes:
      - resin-data:/data
    labels:
      io.balena.features.supervisor-api: '1'

  redis:
    image: ghcr.io/screenly/anthias-redis:${GIT_SHORT_HASH}-${BOARD}
    build:
      context: .
      dockerfile: ./docker/Dockerfile.redis
    ports:
      - 127.0.0.1:6379:6379
    restart: always
    volumes:
      - redis-data:/var/lib/redis

volumes:
  resin-data:
  redis-data:
