certifi==2015.04.28
flask-cors==3.0.3
flask-restful-swagger-2==0.35
flask-swagger-ui==3.0.12
flask_restful==0.3.6
futures==3.0.5
gunicorn==19.4.5
hurry.filesize==0.9
netifaces==0.10.4
pyasn1==0.1.8
python-dateutil==2.4.2
pytz==2012d
pyzmq==16.0.2
requests[security]==2.10.0
sh==1.08
six==1.11.0
uptime==2.0.2
werkzeug==0.10.4
wsgiref==0.1.2
youtube_dl>=2017.7.2
