celery==4.2.1
certifi==2018.4.16
configparser==3.5.0
Flask-Cors==3.0.4
flask-restful-swagger-2==0.35
flask-swagger-ui==3.0.12
flask==1.0.2
flask_restful==0.3.6
gunicorn==19.8.1
hurry.filesize==0.9
netifaces==0.10.7
python-dateutil==2.4.2
PyYAML==3.13
pyzmq==16.0.2
redis==3.2.0
requests[security]==2.20.0
sh==1.08
uptime==2.0.2
werkzeug==0.14.1
