!!! 5
%html
  
  %head
    %meta(charset="utf-8")
    %title Screenly OSE

    %link(href="/static/css/bootstrap.css", rel="stylesheet")
    %link(href="/static/css/screenly.css", rel="stylesheet")
    %link(href="/static/css/datepicker.css", rel="stylesheet")

    %script(src="/static/js/jquery-1.8.0.min.js")
    / %script(src="/static/js/bootstrap-dropdown.js")
    %script(src="/static/js/underscore-1.4.3.min.js")
    %script(src="/static/js/backbone-0.9.10.min.js")
    %script(src="/static/js/bootstrap-transition.js")
    %script(src="/static/js/bootstrap-modal.js")
    %script(src="/static/js/bootstrap-datepicker.js")
    %script(src="/static/js/screenly-ose.js")

    %script(type="text/template", id="active-assets-template")
      .row
        .span12
          %section
            .header
              Active content
            %table.table.table-striped
              %thead
                %tr
                  %th Name
                  %th Start
                  %th End
                  %th
              %tbody

    %script(type="text/template", id="inactive-assets-template")
      .row
        .span12
          %section
            .header
              Inactive content
            %table.table.table-striped
              %thead
                %tr
                  %th Name
                  %th
              %tbody

    %script(type="text/template", id="active-asset-row-template")
      :plain
        <td><%= name %></td>
        <td><%= start_date %></td>
        <td><%= end_date %></td>
        <td>
          <a href="#" id="deactivate">Deactivate</a>
        </td>

    %script(type="text/template", id="inactive-asset-row-template")
      :plain
        <td><%= name %></td>
        <td>
          <a href="#" id="activate">Activate</a>
        </td>

    %script(type="text/template", id="add-asset-modal-template")
      .modal.hide.fade(tabindex="-1", role="dialog", ariaLabelledby="myModalLabel", ariaHidden="true")
        %form.form-horizontal(method="POST", action="/api/assets")
          .modal-header
            %button.close(type="button", dataDismiss="modal", ariaHidden="true") x
            %h3#myModalLabel Add Asset
          .modal-body
            %fieldset
              .control-group
                %label.control-label Name
                .controls
                  %input.span5(type="text", name="name", placeholder="Nickname for this asset")
              .control-group
                %label.control-label Asset Type
                .controls
                  %select.span5(name="mimetype")
                    %option(value="image") Image
                    %option(value="video") Video
                    %option(value="webpage") Webpage
            
            %fieldset
              .control-group(style="margin-bottom: 0")
                %label.control-label Asset URL
                .controls
                  %input.span5(type="text", name="uri", placeholder="Public URL to this asset's location")
                  %div(style="line-height: 27px; font-weight: bold; color: #888")
                    &mdash; or &mdash;
              .control-group
                %label.control-label Upload Asset
                .controls
                  %input(type="file", name="file_upload")
            %hr
            %fieldset
              .control-group
                %label.control-label Start Date
                .controls
                  %input.span2.date(type="text", name="start_date_date")
              .control-group
                %label.control-label End Date
                .controls
                  %input.span2.date(type="text", name="end_date_date")
              .control-group
                %label.control-label Duration
                .controls
                  %input.span5(type="text", name="duration", placeholder="Duration in seconds")


          .modal-footer
            %a.btn(href="#", dataDismiss="modal") Close
            %input.btn.btn-primary(type="submit", value="Add Asset")

                

  %body
  
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="/") 
            %strong Screenly
            %span OSE

          %ul.nav.pull-right
            %li.update-available
              %a(href="#")
                %i.icon-circle-arrow-down.icon-white
                Update Available
            %li.divider-vertical
            %li
              %a(href="/system_info") 
                %i.icon-tasks.icon-white
                System Info

    .container
      .row
        .span12
          %h1.page-header
            .pull-right
              %a.btn.btn-primary(href="#", id="add-asset-button") 
                %i.icon-plus.icon-white
                Add Asset
            Schedule Overview

      #active-assets-container
      #inactive-assets-container

    #footer
      .container
        .copy
          &copy; <strong>2012-2013.</strong> Wireload, Inc.
        %a(id="wireload-logo", href="http://www.wireload.net/")
          %img(src="/static/img/wireload-logo.png", alt="Wireload")

    



