!!! 5
%html

  %head
    %meta(charset="utf-8")
    %title Screenly OSE

    / favicons
    %link(rel="apple-touch-icon-precomposed", sizes="57x57", href="/static/favicons/apple-touch-icon-57x57.png")
    %link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/static/favicons/apple-touch-icon-114x114.png")
    %link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/static/favicons/apple-touch-icon-72x72.png")
    %link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/static/favicons/apple-touch-icon-144x144.png")
    %link(rel="apple-touch-icon-precomposed", sizes="60x60", href="/static/favicons/apple-touch-icon-60x60.png")
    %link(rel="apple-touch-icon-precomposed", sizes="120x120", href="/static/favicons/apple-touch-icon-120x120.png")
    %link(rel="apple-touch-icon-precomposed", sizes="76x76", href="/static/favicons/apple-touch-icon-76x76.png")
    %link(rel="apple-touch-icon-precomposed", sizes="152x152", href="/static/favicons/apple-touch-icon-152x152.png")
    %link(rel="icon", type="image/png", href="/static/favicons/favicon-196x196.png", sizes="196x196")
    %link(rel="icon", type="image/png", href="/static/favicons/favicon-96x96.png", sizes="96x96")
    %link(rel="icon", type="image/png", href="/static/favicons/favicon-32x32.png", sizes="32x32")
    %link(rel="icon", type="image/png", href="/static/favicons/favicon-16x16.png", sizes="16x16")
    %link(rel="icon", type="image/png", href="/static/favicons/favicon-128.png", sizes="128x128")
    %meta(name="application-name", content="screenly-ose;")
    %meta(name="msapplication-TileColor", content="#FFFFFF")
    %meta(name="msapplication-TileImage", content="/static/favicons/mstile-144x144.png")
    %meta(name="msapplication-square70x70logo", content="/static/favicons/mstile-70x70.png")
    %meta(name="msapplication-square150x150logo", content="/static/favicons/mstile-150x150.png")
    %meta(name="msapplication-wide310x150logo", content="/static/favicons/mstile-310x150.png")
    %meta(name="msapplication-square310x310logo", content="/static/favicons/mstile-310x310.png")

    %link(href="/static/css/bootstrap.css", rel="stylesheet")
    %link(href="/static/css/datepicker.css", rel="stylesheet")
    %link(href="/static/css/timepicker.css", rel="stylesheet")
    %link(href="/static/css/toggle-switch.css", rel="stylesheet")
    %link(href="/static/css/screenly.css", rel="stylesheet")

    :javascript
      var default_duration = ${default_duration};
      var default_streaming_duration = ${default_streaming_duration};
      var use_24_hour_clock = ${'true' if use_24_hour_clock else 'false'};

    %script(src="/static/js/underscore-1.4.3.min.js")

    %script(src="/static/js/jquery-1.9.1.min.js")
    %script(src="/static/js/jquery.iframe-transport.js")

    %script(src="/static/js/backbone-0.9.10.min.js") /needs jquery

    %script(src="/static/js/jquery-ui-1.10.1.custom.min.js")
    %script(src="/static/js/jquery.fileupload.js") /needs jqueryui.widget

    %script(src="/static/js/bootstrap.min.js") /needs jquery
    %script(src="/static/js/bootstrap-datepicker.js")
    %script(src="/static/js/bootstrap-timepicker.js")

    %script(src="/static/js/moment.js")
    %script(src="/static/js/screenly-ose.js")
    %script(src="/static/js/main.js")

    %script(type="text/template", id="asset-row-template")
      %td.asset_row_name
        %img(src="static/img/drag-handle.png")
        %i.asset-icon
        :plain
          <%= name %>
      %td(style="width:21%")
        :plain
          <%= start_date %>
      %td(style="width:21%")
        :plain
          <%= end_date %>
      %td.asset_row_btns(style="width:13%")
        %button.edit-asset-button.btn(type="button")
          %i.icon-pencil
        %button.delete-asset-button.btn(type="button", dataTitle="Are you sure?", dataPlacement="left", dataHtml="true", dataTrigger="manual")
          %i.icon-trash
      %td(style="width:7%")
        %label.is_enabled-toggle.checkbox.toggle.well
          %input(type="checkbox")
          %p
            %span.on On
            %span.off Off
          %a.slide-button.btn.btn-primary

    %script(type="text/template", id="confirm-delete-template")
      .clearfix
        .pull-left
          %a.confirm-delete.btn.btn-medium.btn-danger(href="#") Delete
        .pull-right
          %a.cancel-delete.btn.btn-medium(href="#") Cancel

    %script(type="text/template", id="request-error-template")
      .container
        .alert.alert-error
          %button.close(type="button", dataDismiss="alert") &times;
          %span.msg
            The operation failed. Please reload the page and try again.


    %script(type="text/template", id="asset-modal-template")
      .modal.hide.fade(tabindex="-1", role="dialog", ariaLabelledby="myModalLabel", ariaHidden="true")
        .form-horizontal
          .modal-header
            %h3#modalLabel Add Asset
          .modal-body
            
            .asset-location.add
              %fieldset
                .tabbable
                  %ul.nav.nav-tabs
                    %li.active.tabnav-uri(style="margin-left:180px")
                      %a(href="#tab-uri", dataToggle="tab") URL
                    %li.tabnav-file_upload
                      %a(href="#tab-file_upload", dataToggle="tab") Upload
                  .tab-content
                    #tab-uri.tab-pane.active
                      
                    #tab-file_upload.tab-pane
                      .control-group
                        .filedrop
                          .upload-header
                            %button.btn Add Files..
                            %input(type="file", name="file_upload")
                            %br
                            or
                          %div
                            drop files here to upload
            %form#add-form
              %fieldset
                .control-group.uri
                  %label.control-label Asset URL
                  .controls
                    %input.span4(type="text", name="uri", placeholder="Public URL to this asset's location")

              .asset-location.edit(style="display:none")
                %fieldset
                .control-group.name
                  %label.control-label Name
                  .controls
                    %input.span4(type="text", name="name", placeholder="Nickname for this asset")

                %fieldset
                  .control-group
                    %label.control-label Asset Location
                    .controls
                      .uri-text.span4.first

                %fieldset
                  .control-group.mimetype
                    %label.control-label Asset Type
                    .controls
                      %select.mime-select.span2(name="mimetype")
                        %option(value="webpage") Webpage
                        %option(value="image") Image
                        %option(value="video") Video
                        %option(value="streaming") Streaming

                %hr
                %fieldset
                  .control-group.start_date
                    %label.control-label Start Date
                    .controls
                      %input.span2.date(type="text", name="start_date_date")
                      %input.span2.time(type="text", name="start_date_time")
                      %input(type="hidden", name="start_date")
                  .control-group.end_date
                    %label.control-label End Date
                    .controls
                      %input.span2.date(type="text", name="end_date_date")
                      %input.span2.time(type="text", name="end_date_time")
                      %input(type="hidden", name="end_date")
                  .control-group.duration
                    %label.control-label Duration
                    .controls
                      %input.span1(type="number", name="duration")
                      seconds
                      &nbsp;
                      %span.muted.zerohint(style="display:none") use 0 to autodetect video length
                  .advanced-accordion.accordion
                    .accordion-group
                      .accrodion-heading
                        %i.icon-play.unrotated
                        %a.advanced-toggle(href="#") Advanced
                      .collapse-advanced.accordion-body.collapse
                        .accordion-inner
                          .control-group
                            %label.control-label Disable cache
                            .controls.nocache
                              %label.nocache-toggle.checkbox.toggle.well
                                %input(type="checkbox", name="nocache")
                                %p
                                  %span.on Yes
                                  %span.off No
                                %a.slide-button.btn.btn-primary

          .modal-footer
            .status
            .pull-left.progress.progress-striped.active(style="display:none")
              .bar
            %input.btn.cancel(type="button", value="Cancel")
            %input.btn.btn-primary(id="save-asset", type="submit", value="Save")

    %script(type="text/template", id="subscribe-form-template")
      %div#subscribe-popover.popover.top(style="display:block")
        %div.arrow
        %div.popover-content
          %form.validate(action="//wireload.us1.list-manage.com/subscribe/post?u=adb4f752497b0d86b3b1b79d7&id=5c47388076", method="post", name="mc-embedded-subscribe-form", target="_blank", style="margin-bottom:5px")
            .mc-field-group
              %label(**{'for': 'mce-EMAIL'})
                Email Address
                %span.asterisk *
              %input#mce-EMAIL.required.email(name="EMAIL", type="email", **{'required' : True})
            .mc-field-group
              %label(**{'for': 'mce-FNAME'}) First Name
              %input#mce-FNAME(name="FNAME", type="text")
            .mc-field-group
              %label(**{'for': 'mce-LNAME'}) Last Name
              %input#mce-LNAME(name="LNAME", type="text")

            / real people should not fill this in and expect good things - do not remove this or risk form bot signups
            %div(style="position absolute; left -5000px;", hidden="true")
              %input(name="b_adb4f752497b0d86b3b1b79d7_5c47388076", tabindex="-1", type="text")

            %input#mc-embedded-subscribe.button(class_="btn", name="subscribe", type="submit", value="Subscribe")


  %body
    #request-error.navbar.navbar-fixed-top
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="/")
            %img(src='static/img/screenly_ose_logo.png')

          %ul.nav.pull-right
            - if not up_to_date:
              %li.update-available
                %a(href="http://www.screenlyapp.com/ose.html#upgrade")
                  %i.icon-circle-arrow-down.icon-white
                  Update Available
            %li
              %a(href="/settings")
                %i.icon-cog.icon-white
                Settings
            %li.divider-vertical
            %li
              %a(href="/system_info")
                %i.icon-tasks.icon-white
                System Info

    .container
      .row
        .span12
          %h1.page-header
            .pull-right
              %a#add-asset-button.btn.btn-primary(href="#")
                %i.icon-plus.icon-white
                Add Asset
            Schedule Overview

      #assets.row
        .span12
          %section
            .header
              Active assets
            %table.table.table-striped.active-table
              %thead(style="display:none")
                %tr
                  %th.asset_row_name Name
                  %th(style="width:21%") Start
                  %th(style="width:21%") End
                  %th(style="width:13%")
                  %th(style="width:7%")
              %tbody#active-assets
        .span12
          %section
            .header
              Inactive assets
            %table.table.table-striped.inactive-table
              %thead(style="display:none")
                %tr
                  %th.asset_row_name Name
                  %th(style="width:21%") Start
                  %th(style="width:21%") End
                  %th(style="width:13%")
                  %th(style="width:7%")
              %tbody#inactive-assets

      %hr
      .container
        .row
            .span6
              %span Want to get more out of Screenly?
                %a.brand(href="http://www.screenlyapp.com/?utm_source=Screenly-OSE&utm_medium=root-page&utm_campaign=OSE", target="_blank")
                  %strong Try Screenly Pro.
            .span6
              %div#subsribe-form-container
              %span
                %a
                  %strong#show-email-popover Get the latest Screenly news directly in your mailbox.

    #footer
      .container
        .copy
          &copy; Screenly, Inc.
        %a(id="screenly-logo", href="http://screenly.io/", target="_blank")
          Screenly.io
