!!! 5
%html

  %head
    %meta(charset="utf-8")
    %title &Pi; PiSign

    %link(href="/static/css/bootstrap.css", rel="stylesheet")
    %link(href="/static/css/datepicker.css", rel="stylesheet")
    %link(href="/static/css/timepicker.css", rel="stylesheet")
    %link(href="/static/css/toggle-switch.css", rel="stylesheet")
    %link(href="/static/css/screenly.css", rel="stylesheet")
    %link(href="/static/css/open-iconic-bootstrap.css", rel="stylesheet")

    :javascript
      var default_duration = ${default_duration};

    %script(src="/static/js/underscore.js")

    %script(src="/static/js/jquery-3.2.1.js")

    %script(src="/static/js/backbone.min.js") /needs jquery

    %script(src="/static/js/jquery-ui-1.10.1.custom.min.js")

    %script(src="/static/js/popper.js")
    %script(src="/static/js/bootstrap.min.js") /needs jquery
    %script(src="/static/js/bootstrap-datepicker.js")
    %script(src="/static/js/bootstrap-timepicker.js")

    %script(src="/static/js/moment.js")
    %script(src="/static/js/screenly-ose.js")

    %script(type="text/template", id="asset-row-template")
      %td.asset_row_name
        %img(src="static/img/drag-handle.png")
        %span.asset-icon.oi
        :plain
          <%= name %>
      %td.asset_row_btns(style="width:23%")
        %button.edit-schedule-button.btn(type="button")
          Schedule 
          %span.oi.oi-clock
        %button.edit-asset-button.btn(type="button")
          %span.oi.oi-pencil
        %button.delete-asset-button.btn(type="button", dataTitle="Are you sure?", dataPlacement="left", dataHtml="true", dataTrigger="manual")
          %span.oi.oi-trash
      %td.asset_row_toggle(style="width:7%")
        %label.switch-light.is_enabled-toggle
          :plain
            <% if (is_enabled) { %>
          %input(type="checkbox", checked="true")
          :plain
            <% } else { %>
          %input(type="checkbox")
          :plain
            <% } %>
          %span.alert.alert-light
            %span.off Off
            %span.on On
            %a.btn.btn-toggle

    %script(type="text/template", id="confirm-delete-template")
      .clearfix
        .pull-left
          %a.confirm-delete.btn.btn-medium.btn-danger(href="#") Delete
        .pull-right
          %a.cancel-delete.btn.btn-medium(href="#") Cancel

    %script(type="text/template", id="request-error-template")
      .container
        .alert.alert-error
          %button.close(type="button", dataDismiss="alert") &times;
          %span.msg
            The operation failed. Please reload the page and try again.

    %script(type="text/template", id="asset-modal-template")
      .modal.hide.fade(tabindex="-1", role="dialog", ariaLabelledby="myModalLabel", ariaHidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              %h3#modalLabel Add Asset
            %form#add-form
              .modal-body
                .container-fluid
                  %input(type="hidden", name="duration")
                  %div.form-group
                      %input.form-control(type="text", name="name", placeholder="A name for this asset")
                .asset-location.add
                  -# %div.form-group
                  %ul.nav.nav-tabs(role="tablist")
                    %li.nav-item
                      %a#tabUri-tab.nav-link.active(href="#tabUri", dataToggle="tab", role="tab", ariaControls="tabUri", ariaSelected="true") URL
                    %li.nav-item
                      %a#tabFile-tab.nav-link(href="#tabFile", dataToggle="tab", role="tab", ariaControls="tabFile", ariaSelected="false") Upload
                  .tab-content
                    #tabUri.tab-pane.active(role="tabpanel", ariaLabelledby="tabUri-tab")
                      %div.form-group
                        %label.control-label Asset URL
                        %input.form-control(type="text", name="uri", placeholder="Public URL to this asset's location")
                    #tabFile.tab-pane(role="tabpanel", ariaLabelledby="tabFile-tab")
                      .custom-file.form-group
                        %input.custom-file-input(type="file", name="file_upload", id="customFile")
                        %label.custom-file-label(For="customFile") Upload Asset
                      -# Hello World
                      -# %div.form-group
                        -# #file_upload_label
                -# .asset-location.edit(style="display:none")
                -#   %div.form-group
                -#       %label.control-label Asset Location
                -#       .controls
                -#         .uri-text.first

                %div.form-group
                  .control-group.mimetype
                    %label.control-label Asset Type
                    %select.form-control(name="mimetype")
                      %option(value="image") Image
                      %option(value="video") Video
                      %option(value="webpage") Webpage
                %fieldset
                  .advanced-accordion.accordion
                    .accordion-group
                      .accrodion-heading
                        %i.icon-play.unrotated
                        %a.advanced-toggle(href="#") Advanced
                      .collapse-advanced.accordion-body.collapse
                        .accordion-inner
                          .control-group
                            %label.control-label Disable cache
                            .controls.nocache
                              %label.nocache-toggle.checkbox.toggle.well
                                %input(type="checkbox", name="nocache")
                                %p
                                  %span.on Yes
                                  %span.off No
                                %a.slide-button.btn.btn-primary

              .modal-footer
                -# .pull-left.progress.progress-striped.active(style="display:none")
                -#   .bar
                %input.btn.cancel(type="button", value="Cancel")
                %input.btn.btn-primary(type="submit", value="Save")


  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container
        %a.navbar-brand(href="/")
          &Pi;
          %strong Pi
          Sign

        .collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            - if not up_to_date:
              %li.update-available
                %a(href="http://www.screenlyapp.com/ose.html#upgrade")
                  %i.icon-circle-arrow-down.icon-white
                  Update Available
            
            %li.nav-item
              %a.nav-link(href="/settings")
                %span.oi.oi-cog
                Settings
            %li.nav-item
              %a.nav-link(href="/system_info")
                %span.oi.oi-info
                System Info

            %li.nav-item
              %a.nav-link(href="/shutdown")
                %span.oi.oi-power-standby
                Shutdown


    .container
      .row
        .col
          %h1.page-header
            .float-right
              %a#add-asset-button.btn.btn-primary(href="#")
                %span.oi.oi-plus
                Add Asset
            Asset Overview

      #assets.row
        .col
          .row
            .col
              %section
                .header
                  Active assets
                %table.table-striped.active-table
                  %thead(style="display:none")
                    %tr
                      %th.asset_row_name Name
                      %th(style="width:13%")
                      %th(style="width:7%")
                  %tbody#active-assets
          .row
            .col
              %section
                .header
                  Inactive assets
                %table.table-striped.inactive-table
                  %thead(style="display:none")
                    %tr
                      %th.asset_row_name Name
                      %th(style="width:13%")
                      %th(style="width:7%")
                  %tbody#inactive-assets

    #footer
      .container
        .copy
          Some components &copy; <strong>2012-2013.</strong> WireLoad, Inc.
          %a(href="https://github.com/jameskirsop/pisign") Visit the PiSign GitHub Project