!!! 5
%html

  %head
    %meta(charset="utf-8")
    %title Screenly OSE - Edit Schedule

    %link(href="/static/css/bootstrap.css", rel="stylesheet")
    %link(href="/static/css/datepicker.css", rel="stylesheet")
    %link(href="/static/css/timepicker.css", rel="stylesheet")
    %link(href="/static/css/toggle-switch.css", rel="stylesheet")
    %link(href="/static/css/screenly.css", rel="stylesheet")

    / :javascript
    /   var default_duration = ${default_duration};

    %script(src="/static/js/underscore-1.5.2.js")

    %script(src="/static/js/jquery-1.9.1.min.js")
    %script(src="/static/js/jquery.iframe-transport.js")

    %script(src="/static/js/backbone-0.9.10.min.js") /needs jquery

    %script(src="/static/js/jquery-ui-1.10.1.custom.min.js")
    %script(src="/static/js/jquery.fileupload.js") /needs jqueryui.widget

    %script(src="/static/js/bootstrap.min.js") /needs jquery
    %script(src="/static/js/bootstrap-datepicker.js")
    %script(src="/static/js/bootstrap-timepicker.js")

    %script(src="/static/js/moment.js")
    %script(src="/static/js/screenly-ose.js")

    %script(type="text/template", id="schedule-row-template")
      %td.schedule_row_name
        :plain
          <%= name %>
      %td
        :plain
          <%= start_date %>
      %td
        :plain
          <%= end_date %>
      %td
        :plain
          <%= start_time %>
      %td
        :plain
          <%= end_time %>
      %td.schedule_repeat
        :plain
          <%= repeat %>
      %td.schedule_row_buttons
      	%button.edit-schedule-button.btn(type="button")
      		%i.icon-wrench
      	%button.delete-schedule-button.btn(type="button", dataTitle="Are you sure?", dataPlacement="left", dataHtml="true", dataTrigger="manual")
          %i.icon-trash

    %script(type="text/template", id="confirm-delete-template")
      .clearfix
        .pull-left
          %a.confirm-delete.btn.btn-medium.btn-danger(href="#") Delete
        .pull-right
          %a.cancel-delete.btn.btn-medium(href="#") Cancel

    %script(type="text/template", id="schedule-modal-template")
      .modal.hide.fade.modalWide(tabindex="-1", role="dialog", ariaLabelledby="myModalLabel", ariaHidden="true")
        %form.form-horizontal.form-condensed#add-form
          .modal-header
            %h3#modalLabel Add Schedule
          .modal-body
            %input(type="hidden", name="asset_id")
            %fieldset
              .control-group.name
                %label.control-label Name
                .controls
                  %input.span4(type="text", name="name")
            %hr
              .tabbable
                %ul.nav.nav-tabs
                  %li.active
                    %a(dataToggle="tab", href="#scheduleEdit_Tab1") Summary
                  %li
                    %a(dataToggle="tab", href="#scheduleEdit_Tab2") Advanced
              .span6.tab-content
                #scheduleEdit_Tab1.tab-pane.active
                  / %h4 Schedule Summary
                  %fieldset
                    .control-group.start_date
                      %label.control-label Start Date
                      .controls
                        %input.span2.date(type="text", name="start_date")
                      %label.control-label End Date
                      .controls
                        %input.span2.date(type="text", name="end_date")
                        %input(type="hidden", name="end_date")
                    .control-group
                      %label.control-label Start Time
                      .controls
                        .bootstrap-timepicker.input-append
                          %input.span2.time(type="text", name="start_time")
                          %span.add-on
                            %i.icon-time
                      %label.control-label End Time
                      .controls
                        .bootstrap-timepicker.input-append
                          %input.span2.time(type="text", name="end_time")
                          %span.add-on
                            %i.icon-time
                    .control-group.duration
                      %label.control-label Duration
                      .controls
                        %input.span1(type="number", min=1, name="duration")
                        seconds
                    .control-group.priority
                      %label.control-label Priority
                      .controls
                        %input.span1(type="number", max=10, name="priority")
                        From 0 through to 10
                    .control-group
                      %label.control-label Repeat
                      .controls.repeat
                        %label.repeat-toggle.checkbox.toggle.well
                          %input(type="checkbox", name="repeat")
                          %p
                            %span.on Yes
                            %span.off No
                          %a.slide-button.btn.btn-primary
                #scheduleEdit_Tab2.tab-pane
                  %fieldset
                    .control-group.pattern_type
                      %label.control-label Pattern Type
                      .controls
                        %select.span2(name="pattern_type")
                          %option(value="daily") Daily
                          %option(value="weekly") Weekly
                  %fieldset
                    .control-group.pattern_days
                      %label.control-label Days of Week
                      .controls
                        %select(multiple="multiple", name="pattern_days")
                          %option(value="2") Monday
                          %option(value="4") Tuesday
                          %option(value="8") Wednesday
                          %option(value="16") Thursday
                          %option(value="32") Friday
                          %option(value="64") Saturday
                          %option(value="128") Sunday
          .modal-footer
            .pull-left.progress.progress-striped.active(style="display:none")
              .bar
            %input.btn.cancel(type="button", value="Cancel")
            %input.btn.btn-primary(type="submit", value="Save")


  %body
    #request-error.navbar.navbar-fixed-top
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="/")
            %strong Screenly
            %span OSE

          %ul.nav.pull-right
            - if not up_to_date:
              %li.update-available
                %a(href="http://www.screenlyapp.com/ose.html#upgrade")
                  %i.icon-circle-arrow-down.icon-white
                  Update Available
            %li
              %a(href="/settings")
                %i.icon-cog.icon-white
                Settings
            %li.divider-vertical
            %li
              %a(href="/system_info")
                %i.icon-tasks.icon-white
                System Info

    .container
      .row
        .span12
          %h1.page-header
            .pull-right
              %a#add-schedule-button.btn.btn-primary(href="#")
                %i.icon-plus.icon-white
                Add Schedule
            Asset Schedules
      #schedules.row
        .span12
          %section
            .header
              Schedules
            %table.table.table-striped.active-table
              %thead
                %tr
                  %th.schedule_row_name Name
                  %th Start Date
                  %th End Date
                  %th Start Time
                  %th End Time
                  %th Repeats
                  %th(style="width:15%")
              %tbody#schedules-tbody

    #footer
      .container
        .copy
          Some components &copy; <strong>2012-2013.</strong> WireLoad, Inc.