!!! 5
%html

  %head
    %meta(charset="utf-8")
    %title PiSign - Edit Schedule

    %link(href="/static/css/bootstrap.css", rel="stylesheet")
    %link(href="/static/css/datepicker.css", rel="stylesheet")
    %link(href="/static/css/toggle-switch.css", rel="stylesheet")
    %link(href="/static/css/screenly.css", rel="stylesheet")
    %link(href="/static/css/open-iconic-bootstrap.css", rel="stylesheet")
    %link(href="/static/css/fontawesome.min.css", rel="stylesheet")
    %link(src="/static/js/tempusdominus-bootstrap-4.min.css", rel="stylesheet")

    -# A bunch of libraries that are required...
    %script(src="/static/js/underscore.js")
    %script(src="/static/js/jquery-3.2.1.js")
    %script(src="/static/js/backbone.min.js") /needs jquery
    %script(src="/static/js/popper.js")
    %script(src="/static/js/bootstrap.min.js") /needs jquery
    %script(src="/static/js/moment.js")
    %script(src="/static/js/jquery-ui-1.10.1.custom.min.js")

    %script(src="/static/js/bootstrap-datepicker.js")
    %script(src="/static/js/tempusdominus-bootstrap-4.min.js")

    %script(src="/static/js/screenly-ose.js")

    %script(type="text/template", id="schedule-row-template")
      %td.schedule_row_name
        :plain
          <%= name %>
      %td
        :plain
          <%= start_date %>
      %td
        :plain
          <%= end_date %>
      %td
        :plain
          <%= start_time %>
      %td
        :plain
          <%= end_time %>
      %td.schedule_repeat
        :plain
          <%= repeat %>
      %td.days
        :plain
          <%= pattern_days %>
      %td.schedule_row_buttons
      	%button.edit-schedule-button.btn(type="button")
      		%span.oi.oi-wrench
      	%button.delete-schedule-button.btn(type="button", dataTitle="Are you sure?", dataPlacement="left", dataHtml="true", dataTrigger="manual")
          %span.oi.oi-trash

    %script(type="text/template", id="confirm-delete-template")
      .clearfix
        .pull-left
          %a.confirm-delete.btn.btn-medium.btn-danger(href="#") Delete
        .pull-right
          %a.cancel-delete.btn.btn-medium(href="#") Cancel

    %script(type="text/template", id="schedule-modal-template")
      .modal.hide.fade.modalWide(tabindex="-1", role="dialog", ariaLabelledby="myModalLabel", ariaHidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              %h3#modalLabel Add Schedule
            %form.form-horizontal.form-condensed#add-form
              .modal-body
                .container-fluid 
                  .form-group
                    %input.form-control(type="hidden", name="asset_id")
                    %input.form-control(type="text", name="name", placeholder="Schedule Name")
                %hr
                  %ul.nav.nav-tabs.mb-3(role="tablist")
                    %li.nav-item
                      %a#tabEdit_1tab.nav-link.active(dataToggle="tab", href="#scheduleEdit_Tab1", role="tab", ariaControls="scheduleEdit_Tab1", ariaSelected="true") Summary
                    %li.nav-item
                      %a#tabEdit_2tab.nav-link(dataToggle="tab", href="#scheduleEdit_Tab2", role="tab", ariaControls="scheduleEdit_Tab2", ariaSelected="false") Advanced
                  .tab-content
                    #scheduleEdit_Tab1.tab-pane.active(role="tabpanel", ariaLabelledby="tabEdit_1tab")
                      .form-group.start_date
                        %label Start Date 
                          %span.small.strong *Required
                        .date.input-group(dataProvide="datepicker")
                          %input.form-control(type="text", name="start_date")
                          -# %input.form-control(type="hidden", name="start_date")
                          %span.input-group-append
                            %span.input-group-text.oi.oi-calendar
                      .form-group.end_date
                        %label End Date
                        .date.input-group(dataProvide="datepicker")
                          %input.form-control.date(type="text", name="end_date")
                          -# %input.form-control(type="hidden", name="end_date")
                          %span.input-group-append
                            %span.input-group-text.oi.oi-calendar
                      .form-group
                        %label.control-label Start Time
                        #dialogStartTime.input-group.date(dataTargetInput="nearest")
                          %input.form-control.span2.datetimepicker-input(type="text", name="start_time", dataTarget="#dialogStartTime")
                          %span.input-group-append(dataTarget="#dialogStartTime", dataToggle="datetimepicker")
                            .input-group-text
                              %i.fa.fa-clock-o
                      .form-group
                        %label.control-label End Time
                        #dialogEndTime.input-group.date(dataTargetInput="nearest")
                          %input.form-control.span2.datetimepicker-input(type="text", name="end_time", dataTarget="#dialogEndTime")
                          %div.input-group-append(dataTarget="#dialogEndTime", dataToggle="datetimepicker")
                            .input-group-text
                              %i.fa.fa-clock-o
                      .form-group.duration
                        %label.control-label Duration
                        .input-group
                          %input.form-control.span1(type="number", min=1, name="duration")
                          %span.input-group-append
                              %span.input-group-text seconds
                      .form-group
                        %label.control-label Repeat
                        %label.switch-light.is_enabled-toggle
                          %input(type="checkbox", name="repeat")
                          %span.alert.alert-light
                            %span.off No
                            %span.on Yes
                            %a.btn.btn-toggle
                    #scheduleEdit_Tab2.tab-pane(role="tabpanel", ariaLabelledby="tabEdit_2tab")
                      .form-group.pattern_type
                        %label.control-label Pattern Type
                        .input-group
                          %select.form-control(name="pattern_type")
                            %option(value="daily") Daily
                            %option(value="weekly") Weekly
                      .form-group.pattern_days
                        %label.control-label Days of Week
                        .input-group
                          %select.form-control(multiple="multiple", name="pattern_days")
                            %option(value="2") Monday
                            %option(value="4") Tuesday
                            %option(value="8") Wednesday
                            %option(value="16") Thursday
                            %option(value="32") Friday
                            %option(value="64") Saturday
                            %option(value="128") Sunday
              .modal-footer
                .pull-left.progress.progress-striped.active(style="display:none")
                  .bar
                %input.btn.cancel(type="button", value="Cancel")
                %input.btn.btn-primary(type="submit", value="Save")


  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container
        %a.navbar-brand(href="/")
          &Pi;
          %strong Pi
          Sign

        .collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            - if not up_to_date:
              %li.update-available
                %a(href="http://www.screenlyapp.com/ose.html#upgrade")
                  %i.icon-circle-arrow-down.icon-white
                  Update Available
            
            %li.nav-item
              %a.nav-link(href="/settings")
                %span.oi.oi-cog
                Settings
            %li.nav-item
              %a.nav-link(href="/system_info")
                %span.oi.oi-info
                System Info

            %li.nav-item
              %a.nav-link(href="/shutdown")
                %span.oi.oi-power-standby
                Shutdown

    .container
      .row
        .col
          %h1.page-header
            .float-right
              %a#add-schedule-button.btn.btn-primary(href="#")
                %span.oi.oi-plus
                Add Schedule
            Schedules for 
            %span#assetName
      #schedules.row
        .col
          %section
            .header
              Schedules
            %table.table.table-striped.active-table
              %thead
                %tr
                  %th.schedule_row_name Name
                  %th Start Date
                  %th End Date
                  %th Start Time
                  %th End Time
                  %th Repeats
                  %th Days
                  %th(style="width:15%")
              %tbody#schedules-tbody

    #footer
      .container
        .copy
          Some components &copy; <strong>2012-2013.</strong> WireLoad, Inc.