!!! 5
%html

  %head
    %meta(charset="utf-8")
    %title &Pi; PiSign - Settings

    %link(href="/static/css/bootstrap.css", rel="stylesheet")
    %link(href="/static/css/screenly.css", rel="stylesheet")
    %link(href="/static/css/toggle-switch.css", rel="stylesheet")
    %link(href="/static/css/open-iconic-bootstrap.css", rel="stylesheet")
    %script(src="/static/js/jquery-1.9.1.min.js")

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container
        %a.navbar-brand(href="/")
          &Pi;
          %strong Pi
          Sign

        .collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            - if not up_to_date:
              %li.update-available
                %a(href="http://www.screenlyapp.com/ose.html#upgrade")
                  %i.icon-circle-arrow-down.icon-white
                  Update Available
            
            %li.nav-item
              %a.nav-link(href="/settings")
                %span.oi.oi-cog
                Settings
            %li.nav-item
              %a.nav-link(href="/system_info")
                %span.oi.oi-info
                System Info

            %li.nav-item
              %a.nav-link(href="/shutdown")
                %span.oi.oi-power-standby
                Shutdown


    .container
      .row
        .col`
          %h1.page-header
            Settings


          - if flash:
            <div class="alert alert-${flash['class']}">
              = flash['message']
            </div>

          %form.form-horizontal(method="post")
            .form-group.row
              %label.col-form-label.col-sm-2 Show splash screen
              .col-sm-4
                -# %label.checkbox.toggle.well#splash_checkbox
                %label.switch-light.is_enabled-toggle
                  - if show_splash:
                    %input(type="checkbox", checked="checked", name="show_splash")
                  - else:
                    %input(type="checkbox", name="show_splash")
                  %span.alert.alert-light
                    %span.off Off
                    %span.on On
                    %a.btn.btn-toggle

            .form-group.row
              %label.col-form-label.col-sm-2 Shuffle playlist
              .col-sm-4

                %label.switch-light.is_enabled-toggle#shuffle_checkbox
                  - if shuffle_playlist:
                    %input(type="checkbox", checked="checked", name="shuffle_playlist")
                  - else:
                    %input(type="checkbox", name="shuffle_playlist")
                  %span.alert.alert-light
                    %span.off Off
                    %span.on On
                    %a.btn.btn-toggle

            .form-group.row
              %label.col-form-label.col-sm-2 Audio output
              .col-sm-4
                %select.form-control(name="audio_output")
                  - if audio_output == 'hdmi':
                    %option(value="hdmi", selected="selected") HDMI
                    %option(value="local") 3.5mm jack
                  - else:
                    %option(value="hdmi") HDMI
                    %option(value="local", selected="selected") 3.5mm jack

            .form-group.row
              %label.col-form-label.col-sm-2 Default duration
              .col-sm-4
                %input.form-control(type="number", name="default_duration", value=default_duration)

            .form-group.row
              %label.col-form-label.col-sm-2 Debug logging
              .col-sm-4

                %label.switch-light.is_enabled-toggle#debug_checkbox
                  - if debug_logging:
                    %input(type="checkbox", checked="checked", name="debug_logging")
                  - else:
                    %input(type="checkbox", name="debug_logging")
                  %span.alert.alert-light
                    %span.off Off
                    %span.on On
                    %a.btn.btn-toggle

            .form-actions
              %input.btn.btn-primary(type="submit", value="Save Settings")
              %a.btn(href="/") Cancel

    #footer
      .container
        .copy
          Some components &copy; <strong>2012-2013.</strong> WireLoad, Inc.
          %a(href="https://github.com/jameskirsop/pisign") Visit the PiSign GitHub Project