!!! 5
%html

  %head
    %meta(charset="utf-8")
    %title Welcome to PiSign

    %link(href="/static/css/bootstrap.css", rel="stylesheet")
    %link(href="/static/css/screenly.css", rel="stylesheet")

  %body.splash

    .container
      .row
        .col
          .page-header.text-center
            %h2 Welcome to PiSign
            %h1 &Pi;

      .row
        .col.text-center
          - if ip_lookup:
            %p.lead To manage the content on this screen, just point your browser to:

            .well.lead
              %a(href="${url}") ${url}
          - else:
            %p.lead Unable to resolve management IP.
          
          %strong System Time
          %br ${system_time}

      %hr

      .row
        .col.text-center
          %p.lead For more information or help visit<br />
            %a(href="http://jameskirsop.github.io/pisign/")
              http://jameskirsop.github.io/pisign/
