!!! 5
%html
  %head
    %title Welcome to Screenly
    %link(type="text/css", href="/static/css/style.css", rel="stylesheet")
  %body
    .main
      %h1 Welcome to Screenly
      - if ip_lookup:
        %p
          To manage the content on this screen,<br /> just point your browser to:
        %p
          %a(href="${url}") ${url}
      - else:
        %p Unable to resolve management IP.

      .footer
        %small Brought to you by Wireload Inc.
