!!! 5
%html

  %head
    %meta(charset="utf-8")
    %title Welcome to Screenly

    %link(href="/static/css/bootstrap.css", rel="stylesheet")
    %link(href="/static/css/screenly.css", rel="stylesheet")

  %body.splash

    .container
      .row
        .span12
          .logo-container.page-header.text-center
            %img(src="/static/img/screenly_ose_logo_large.png")

      .row
        .span12.text-center
          - if ip_lookup:
            %p.lead To manage the content on this screen, just point your browser to:

            .well.lead
              %a(href="${msg}") ${msg}
          - else:
            %p.lead ${msg}

      %hr
