!!! 5
%html

  %head
    %meta(charset="utf-8")
    %title &Pi; PiSign - System Info

    %link(href="/static/css/bootstrap.css", rel="stylesheet")
    %link(href="/static/css/screenly.css", rel="stylesheet")
    %script(src="/static/js/jquery-1.9.1.min.js")

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container
        %a.navbar-brand(href="/")
          &Pi;
          %strong Pi
          Sign

        .collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            - if not up_to_date:
              %li.update-available
                %a(href="http://www.screenlyapp.com/ose.html#upgrade")
                  %i.icon-circle-arrow-down.icon-white
                  Update Available
            
            %li.nav-item
              %a.nav-link(href="/settings")
                %i.icon-cog.icon-white
                Settings
            %li.nav-item
              %a.nav-link(href="/system_info")
                %i.icon-tasks.icon-white
                System Info

            %li.nav-item
              %a.nav-link(href="/shutdown")
                %i.icon-off.icon-white
                Shutdown

    .container
      .row
        .col
          %h1.page-header
            System Info

          %table.table.table-bordered(style="width: 100%")
            %thead
              %tr
                %th Load Average
                %th Free Space
                %th Uptime
                %th Monitor Info
            %tbody
              %tr
                %td ${loadavg}
                %td ${free_space}
                %td ${uptime.days} days and ${uptime.seconds / 3600} hours
                %td
                  - if display_info:
                    %ul
                      - for info in display_info:
                        %li ${info.strip().capitalize()}
          %section
            .header
              Latest Viewer Logs

          - if viewlog:
            %table.table.table-striped
              - for line in viewlog:
                %tr
                  %td ${line}
          - else:
            %p There are no recent log messages.

    #footer
      .container
        .copy
          Some components &copy; <strong>2012-2013.</strong> WireLoad, Inc.
