!!! 5
%html

  %head
    %meta(charset="utf-8")
      - if not player_name:
        %title Screenly OSE
      - else:
        %title Screenly OSE - ${player_name}

    %link(href="/static/css/bootstrap.css", rel="stylesheet")
    %link(href="/static/css/screenly.css", rel="stylesheet")
    %script(src="/static/js/jquery-1.9.1.min.js")

  %body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="/")
            %img(src='static/img/screenly_ose_logo.png')

          %ul.nav.pull-right
            - if not up_to_date:
              %li.update-available
                %a(href="http://www.screenlyapp.com/ose.html#upgrade")
                  %i.icon-circle-arrow-down.icon-white
                  Update Available
            %li
              %a(href="/settings")
                %i.icon-cog.icon-white
                Settings
            %li.divider-vertical
            %li
              %a(href="/system_info")
                %i.icon-tasks.icon-white
                System Info

    .container
      .row
        .span12
          %h1.page-header
            System Info

          %table.table.table-bordered(style="width: 100%")
            %thead
              %tr
                %th Load Average
                %th Free Space
                %th Uptime
                %th Monitor Info
                %th Display Power
            %tbody
              %tr
                %td ${loadavg}
                %td ${free_space}
                %td ${uptime.days} days and ${uptime.seconds / 3600} hours
                %td ${display_info}
                %td ${display_power}
          %section
            .header
              Latest Viewer Logs

          - if viewlog:
            %table.table.table-striped
              - for line in viewlog:
                %tr
                  %td ${line}
          - else:
            %p There are no recent log messages.

    #footer
      .container
        .copy
          &copy; Screenly, Inc.
        %a(id="screenly-logo", href="http://screenly.io/", target="_blank")
          Screenly.io
