<!-- Active Assets -->
<div class="content active-content p-3 mb-4 rounded">
  <h6 class="text-white mb-3">Active assets</h6>
  <div id="active-assets-table">
    {% include "anthias_app/assets/active_table.html" %}
  </div>
</div>

<!-- Inactive Assets -->
<div class="content inactive-content p-3 mb-4 rounded" style="background-color: #fff;">
  <h6 class="text-dark mb-3" style="color: #6c757d !important;">Inactive assets</h6>
  <div id="inactive-assets-table">
    {% include "anthias_app/assets/inactive_table.html" %}
  </div>
</div>
