[Unit]
Description=Runs Screenly Net Watchdog every hour

[Timer]
# Time to wait after booting before we run first time
OnBootSec=2min
# Time between running each consecutive time
OnUnitActiveSec=1h
Unit=screenly-net-watchdog.service

[Install]
WantedBy=multi-user.target
