[Unit]
Description=Wifi Connect
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/home/pi/.screenly/initialized

[Service]
WorkingDirectory=/home/pi/screenly
User=pi
Type=oneshot

ExecStart=/usr/bin/python /home/pi/screenly/start_resin_wifi.py
ExecStartPost=/usr/bin/touch /home/pi/.screenly/initialized

[Install]
WantedBy=multi-user.target
