body {
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

@media (max-width: 1199px) {
  .container {
    max-width: 100%; } }
.modal-dialog {
  max-width: 580px;
  margin-top: 70px; }

label {
  text-align: right; }

.splash {
  background: url(../img/bg.jpg) center center no-repeat #370c6c;
  background-size: 100% 100%;
  margin-top: 0;
  font-size: calc((1.5vw + 1.5vh) / 2); }
  .splash .splash-body {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: white; }
  .splash .row {
    display: block; }
  .splash .logo-container {
    height: 30vh;
    padding: 3vh 0;
    margin-bottom: 3vh; }
    .splash .logo-container img {
      height: 100%; }
  @media (max-width: 767px) {
    .splash .logo-container {
      padding: 10px 0px 10px 0px; }
      .splash .logo-container img {
        max-height: 100px;
        width: auto; } }
  .splash .wireload-link span {
    font-size: 16px; }
  .splash .wireload-link a img {
    width: 150px; }

.navbar {
  padding: 5px 0px; }
  .navbar .container ul.nav li > a {
    text-shadow: 0 1px 0 #000;
    padding: 10px 15px 10px;
    color: #fff; }
  .navbar .container a.brand {
    text-shadow: 0 1px 0 #000;
    padding: 4px 0px; }
    .navbar .container a.brand img {
      height: 38px; }
    .navbar .container a.brand span {
      font-size: 15px; }
  .navbar .container li.update-available a {
    font-weight: bold;
    text-shadow: #555 0px 1px 1px !important; }

#footer {
  height: 40px;
  background: url(../img/screenly-bg.jpeg);
  border-top: 1px #ccc solid;
  -webkit-box-shadow: 0 -2px 9px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 -2px 9px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -2px 9px rgba(0, 0, 0, 0.05);
  opacity: 0.9;
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-shadow: #fff 0px 1px 1px; }
  #footer .container {
    position: relative; }
    #footer .container #screenly-logo {
      position: absolute;
      right: 0;
      top: 10px;
      color: #535d79;
      font-weight: bold;
      text-decoration: none; }
    #footer .container .copy {
      position: absolute;
      left: 0;
      top: 10px;
      color: #535d79;
      font-size: 12px; }

h1.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eee;
  font-weight: bold; }

section .header {
  color: #fff;
  padding: 6px 9px;
  margin-bottom: 9px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  font-weight: bold;
  text-shadow: #555 0px 1px 1px !important;
  text-transform: uppercase; }

.modal form {
  margin-bottom: 0; }

.asset-location .nav {
  margin-bottom: 20px; }

.popover .popover-header {
  font-weight: bold; }
.popover .popover-delete-content {
  width: 236px;
  padding-bottom: 38px; }

#request-error {
  z-index: 10000; }
  #request-error .alert {
    margin-left: 300px;
    width: 500px; }

#add-form .uri-text {
  padding-top: 5px;
  margin-left: 0px;
  overflow: hidden; }

.modal-footer .status {
  float: left;
  margin-top: 6px; }
.modal-footer .progress {
  margin-top: 4px;
  margin-bottom: 0px;
  width: 69%; }

#backup-section {
  margin-bottom: 50px; }
  #backup-section .progress {
    margin-top: 5px;
    width: 50%;
    margin-bottom: 5px;
    display: inline-block; }

#assets table td {
  line-height: 32px; }

input[name="file_upload"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0; }

.end_date input, .start_date input, .loop_date input {
  float: left;
  width: 47%; }

.bootstrap-timepicker table td input {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 39px; }

.duration .controls {
  display: flex;
  align-items: center; }
.duration input {
  float: left;
  width: 24%;
  margin-right: 5px; }

.invalid-feedback {
  width: auto; }

.form-actions {
  padding: 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-radius: .25rem; }
  .form-actions a, .form-actions span {
    color: #300952; }

.filedrop {
  position: relative;
  border: 4px dashed #ccc;
  padding: 50px;
  text-align: center;
  color: #888;
  border-radius: 12px; }

#file_upload_label {
  position: absolute;
  top: 5px;
  left: 105px;
  right: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.accordion-inner {
  padding: 9px 0 0 0; }

.accordion-group {
  border: none; }

.unrotated {
  -webkit-transition: all 0.15s linear;
  -webkit-transform: rotate(0deg);
  -moz-transition: all 0.15s linear;
  -moz-transform: rotate(0deg);
  -ms-transition: all 0.15s linear;
  -ms-transform: rotate(0deg);
  -o-transition: all 0.15s linear;
  -o-transform: rotate(0deg);
  transition: all 0.15s linear;
  transform: rotate(0deg); }

.rotated {
  -webkit-transition: all 0.15s linear;
  -webkit-transform: rotate(90deg);
  -moz-transition: all 0.15s linear;
  -moz-transform: rotate(90deg);
  -ms-transition: all 0.15s linear;
  -ms-transform: rotate(90deg);
  -o-transition: all 0.15s linear;
  -o-transform: rotate(90deg);
  transition: all 0.15s linear;
  transform: rotate(90deg); }

.nocache-toggle {
  padding-top: 0 !important; }

.advanced-accordion {
  display: none; }

.modal-body {
  max-height: 600px !important; }

.ui-sortable-helper {
  background: #fff; }

.asset-icon {
  margin-left: 5px; }

#inactive-assets img {
  display: none; }

.asset_row_name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 290px;
  min-width: 290px; }

.asset_row_btns {
  padding: 6px 8px 10px 8px !important;
  white-space: nowrap; }
  .asset_row_btns button {
    padding: 3px 10px; }

.table td {
  vertical-align: middle !important; }
.table .asset-toggle {
  text-align: center; }
  .table .asset-toggle .toggle input:checked ~ p span.on {
    color: #fff; }
  .table .asset-toggle .toggle p span.on {
    color: #6c757d; }
  .table .asset-toggle .toggle input:checked ~ p span.off {
    color: #6c757d; }
.table .processing-message {
  width: 117px;
  margin-bottom: 2px; }

.is_enabled-toggle {
  margin: 5px 0 5px 0 !important; }

/*# sourceMappingURL=screenly.css.map */
