body {
  margin-top: 60px;
  margin-bottom: 60px; }

.splash {
  margin-top: 0px; }
  .splash .logo-container {
    padding: 20px 0px 40px 0px; }
    .splash .logo-container img {
      width: 450px; }
  .splash .wireload-link span {
    font-size: 16px; }
  .splash .wireload-link a img {
    width: 150px; }

.navbar .container ul.nav li > a {
  text-shadow: 0 1px 0 black; }
.navbar .container a.brand {
  text-shadow: 0 1px 0 #000;
  padding: 4px 20px 4px 20px; }
  .navbar .container a.brand img {
    height: 32px; }
  .navbar .container a.brand span {
    font-size: 15px; }
.navbar .container li.update-available a {
  font-weight: bold;
  text-shadow: #555555 0px 1px 1px !important; }

#footer {
  height: 40px;
  background: url(../img/wireload-bg.jpeg);
  border-top: 1px #cccccc solid;
  -webkit-box-shadow: 0 -2px 9px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 -2px 9px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -2px 9px rgba(0, 0, 0, 0.05);
  opacity: 0.9;
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-shadow: white 0px 1px 1px; }
  #footer .container {
    position: relative; }
    #footer .container #wireload-logo {
      position: absolute;
      right: 0;
      top: 10px; }
    #footer .container .copy {
      position: absolute;
      left: 0;
      top: 10px;
      color: #535d79;
      font-size: 12px; }

h1.page-header .pull-right {
  font-weight: normal; }

section .header {
  background: #0b7eff;
  color: #fff;
  padding: 6px 9px;
  margin-bottom: 9px;
  background-color: #0678f9;
  background-image: -moz-linear-gradient(top, #0b7eff, #0071f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0b7eff), to(#0071f1));
  background-image: -webkit-linear-gradient(top, #0b7eff, #0071f1);
  background-image: -o-linear-gradient(top, #0b7eff, #0071f1);
  background-image: linear-gradient(to bottom, #0b7eff, #0071f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0B7EFF', endColorstr='#FF0071F1', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  font-weight: bold;
  text-shadow: #555555 0px 1px 1px !important;
  text-transform: uppercase; }

.modal form {
  margin-bottom: 0; }

.popover .popover-title {
  font-weight: bold; }
.popover .btn-large {
  width: 60px; }

#request-error {
  z-index: 10000; }
  #request-error .alert {
    position: fixed;
    margin-left: 240px;
    margin-top: 2px;
    width: 400px; }

#add-form .progress {
  margin-top: 4px;
  margin-bottom: 0px;
  width: 69%; }
#add-form .uri-text {
  padding-top: 5px;
  margin-left: 0px;
  overflow: hidden; }

#assets table td {
  line-height: 32px; }

form .control-group .controls select {
  margin-bottom: 9px; }

input[name="file_upload"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0; }

.controls {
  position: relative;
  width: auto; }

#file_upload_label {
  position: absolute;
  top: 5px;
  left: 105px;
  right: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.accordion-inner {
  padding: 9px 0 0 0; }

.accordion-group {
  border: none; }

.unrotated {
  -webkit-transition: all 0.15s linear;
  -webkit-transform: rotate(0deg);
  -moz-transition: all 0.15s linear;
  -moz-transform: rotate(0deg);
  -ms-transition: all 0.15s linear;
  -ms-transform: rotate(0deg);
  -o-transition: all 0.15s linear;
  -o-transform: rotate(0deg);
  transition: all 0.15s linear;
  transform: rotate(0deg); }

.rotated {
  -webkit-transition: all 0.15s linear;
  -webkit-transform: rotate(90deg);
  -moz-transition: all 0.15s linear;
  -moz-transform: rotate(90deg);
  -ms-transition: all 0.15s linear;
  -ms-transform: rotate(90deg);
  -o-transition: all 0.15s linear;
  -o-transform: rotate(90deg);
  transition: all 0.15s linear;
  transform: rotate(90deg); }

.nocache-toggle {
  padding-top: 0 !important; }

.advanced-accordion {
  display: none; }

.modal-body {
  max-height: 600px !important; }

.ui-sortable-helper {
  background: #fff; }

.asset-icon {
  margin-left: 5px; }

#inactive-assets img {
  display: none; }

.asset_row_name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 320px;
  min-width: 320px; }

.asset_row_btns {
  padding: 6px 8px 10px 8px !important; }

.table td {
  vertical-align: middle !important; }

.is_enabled-toggle {
  margin: 5px 0 5px 0 !important; }
