.form-switch-info {
  .form-check-input {
    &:checked {
      background-color: $anthias-purple-5;
      border-color: $anthias-purple-5;
    }

    &:focus {
      border-color: rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 0 0.25rem rgba(136, 25, 199, 0.25);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3e%3c/svg%3e");
    }

    &:checked:focus {
      background-color: $anthias-purple-5;
      border-color: $anthias-purple-5;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }
  }
}
