@mixin tooltip {
  .tooltip {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    &.fade {
      opacity: 0;
    }

    &.show {
      opacity: 1;
    }
  }

  .tooltip-inner {
    background-color: $checkin-purple;
    color: $checkin-white;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(76, 4, 45, 0.15);
  }

  .tooltip {
    &.bs-tooltip-top .tooltip-arrow::before {
      border-top-color: $checkin-purple;
    }

    &.bs-tooltip-bottom .tooltip-arrow::before {
      border-bottom-color: $checkin-purple;
    }

    &.bs-tooltip-start .tooltip-arrow::before {
      border-left-color: $checkin-purple;
    }

    &.bs-tooltip-end .tooltip-arrow::before {
      border-right-color: $checkin-purple;
    }
  }
}
