$anthias-purple-1: #270035;
$anthias-purple-2: #492955;
$anthias-purple-3: #52335D;
$anthias-purple-4: #D4CCD7;
$anthias-purple-5: #8819C7;
$anthias-yellow-1: #FFF963;
$anthias-yellow-2: #FFD800;
$anthias-yellow-3: #FFE11A;
$anthias-yellow-4: #FFF3A3;

$anthias-yellow-gradient: linear-gradient(133.73deg, $anthias-yellow-1, $anthias-yellow-2);
