@import "variables";
@import "mixins";

$footerHeight: 40px;

body {
  margin-top: 60px;
  margin-bottom: $footerHeight + $baseLineHeight;
}
.splash {
    margin-top: 0px;

    .logo-container {
        padding: 20px 0px 40px 0px;
        img {
            width:450px;
        }
    }
    @media (max-width: 767px) {
        .logo-container {
            padding: 10px 0px 10px 0px;
            img {
                max-height: 100px;
                width: auto;
            }
        }
    }
    .wireload-link {
        span {
            font-size: 16px;
        }
        a {
            img {
                width: 150px;
            }
        }
    }
}

.navbar .container {

  ul.nav li > a {
    text-shadow: 0 1px 0 #000;
  }

  a {
    &.brand {
      text-shadow: 0 1px 0 #000;
      padding: 4px 20px 4px 20px;
      img {
        height: 32px;
      }
      span {
        font-size: 15px;
      }
    }
  }

  li.update-available {
    a {
      font-weight: bold;
      text-shadow: #555 0px 1px 1px !important;
    }
  }
}

#footer {
  height: $footerHeight;
  background: url(../img/screenly-bg.jpeg);
  border-top: 1px #ccc solid;
  @include box-shadow(0 -2px 9px rgba(0, 0, 0, 0.05));
  opacity: 0.9;
  z-index: 10;

  position: fixed;
  bottom: 0;
  width: 100%;
  text-shadow: #fff 0px 1px 1px;

  .container {
    position: relative;

    $topOffset: $footerHeight * 0.25;

    #screenly-logo {
      position: absolute;
      right: 0;
      top: $topOffset;
      color: #535d79;
      font-weight: bold;
      text-decoration: none;
    }

    .copy {
      position: absolute;
      left: 0;
      top: $topOffset;
      color: #535d79;
      font-size: 12px;
    }
  }

}

h1.page-header {
  .pull-right {
    font-weight: normal;
  }
}

section {
  .header {
    background: $navbarBackgroundHighlight;
    color: #fff;
    padding: 6px 9px;
    margin-bottom: 9px;
    @include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
    @include border-radius($baseBorderRadius);
    @include box-shadow(0 1px 4px rgba(0,0,0,.065));
    font-weight: bold;
    text-shadow: #555 0px 1px 1px !important;
    text-transform: uppercase;
  }
}

.modal form {
  margin-bottom: 0;
}

.popover {

  .popover-title {
    font-weight: bold;
  }

  .btn-large {
    width: 60px;
  }

}

#request-error {
  z-index: 10000;

  .alert {
    position: fixed;
    margin-left: 240px;
    margin-top: 2px;
    width: 400px;
  }
}

#add-form {
  .uri-text {
    padding-top: 5px;
    margin-left: 0px;
    overflow: hidden;
  }
}

.modal-footer {
  .status {
    float: left;
    margin-top: 6px;
  }
  .progress {
    margin-top: 4px;
    margin-bottom: 0px;
    width: 69%;
  }
}

#backup-section {
  margin-bottom: 50px;
  .progress {
    margin-top: 5px;
    width: 50%;
    margin-bottom: 5px;
    display: inline-block;
  }
}

#assets {
  table td {
    line-height: 32px;
  }
}

form .control-group .controls {
  select {
    margin-bottom: 9px;
  }
}

input[name="file_upload"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
}

.controls {
    position: relative;
    width:auto;
}

@mixin ellip(){
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.filedrop {
    position: relative;
    border: 4px dashed #ccc;
    padding: 50px;
    text-align: center;
    color: #888;
    border-radius: 12px;
}

#file_upload_label {
    position: absolute;
    top: 5px;
    left: 105px;
    right: 0;
    @include ellip();
}

.accordion-inner { padding: 9px 0 0 0; }
.accordion-group { border: none; }

@mixin rota($angle,$time){
    @each $prefix in webkit moz ms o {
      -#{$prefix}-transition: all $time linear;
      -#{$prefix}-transform: rotate($angle);
    }
    transition: all $time linear;
    transform: rotate($angle);
}
.unrotated { @include rota(0deg,.15s); }
.rotated { @include rota(90deg,.15s); }
.nocache-toggle { padding-top: 0 !important; }
.advanced-accordion { display: none; }
.modal-body { max-height: 600px !important; }
.ui-sortable-helper {
    background: #fff;
}
.asset-icon { margin-left: 5px; }
#inactive-assets img { display: none; }
.asset_row_name {
    @include ellip();
    max-width: 290px;
    min-width: 290px;
}

.asset_row_btns { padding: 6px 8px 10px 8px !important;
    white-space: nowrap;
}

.table {
  td { 
    vertical-align: middle !important; 
  }
  .asset-toggle {
    text-align: center;
  }
  .processing-message {
    width: 117px;
    margin-bottom: 2px;
  }
}
.is_enabled-toggle { margin: 5px 0 5px 0 !important; }

#subscribe-popover {
    position: relative;
    margin-top: -252px;
    width: 250px;
}
