console=serial0,115200 console=tty3 {{ system_cmdline_root_arg }} rootfstype=ext4 fsck.repair=yes rootwait splash vt.global_cursor_default=0 plymouth.ignore-serial-consoles quiet init=/lib/systemd/systemd net.ifnames=0 cgroup_enable=memory cgroup_memory=1 loglevel=0 logo.nologo
