<footer id="footer">
  <div class="container py-6">
    <div class="flex flex-col md:flex-row gap-4 items-start md:items-center">
      <div class="md:basis-1/2 text-sm">
        Want to get more out of your digital signage?
        <a class="brand font-bold ml-1" href="https://www.screenly.io/?utm_source=Anthias&utm_medium=root-page&utm_campaign=UI" target="_blank" rel="noopener noreferrer">
          Try Screenly →
        </a>
      </div>
      <div class="md:basis-1/2 md:flex md:justify-end">
        <div class="links flex flex-wrap md:justify-end gap-4">
          <a href="/api/docs/" target="_blank" rel="noopener noreferrer">API</a>
          <a href="https://anthias.screenly.io/faq/?utm_source=Anthias&utm_medium=footer&utm_campaign=UI" target="_blank" rel="noopener noreferrer">FAQ</a>
          <a href="https://screenly.io/?utm_source=Anthias&utm_medium=footer&utm_campaign=UI" target="_blank" rel="noopener noreferrer">Screenly.io</a>
          <a href="https://forums.screenly.io/" target="_blank" rel="noopener noreferrer">Support</a>
          <a href="https://github.com/Screenly/Anthias" target="_blank" rel="noopener noreferrer" class="inline-flex items-center gap-1">
            <i class="bi bi-github"></i> GitHub
          </a>
        </div>
      </div>
    </div>

    <div class="copy text-center pt-4">
      &copy; Screenly, Inc.
    </div>
  </div>
</footer>
