{% load static %}
<nav
  class="navbar navbar-dark navbar-expand-lg fixed-top"
  x-data="{ open: false }"
>
  <div class="container">
    <a href="{% url 'anthias_app:home' %}" class="navbar-brand">
      <img src="{% static 'img/logo-full.svg' %}" alt="Anthias">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      :aria-expanded="open"
      aria-label="Toggle navigation"
      @click="open = !open"
    >
      <i class="bi bi-list"></i>
    </button>

    <div
      class="collapse navbar-collapse"
      :class="{ 'show': open }"
      id="navbarNav"
    >
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
        {% if not up_to_date and not is_balena %}
        <li class="nav-item update-available">
          <a
            href="{% url 'anthias_app:settings' %}#upgrade-section"
            class="nav-link"
            @click="open = false"
          >
            <i class="bi bi-arrow-down-circle-fill"></i>
            <span class="d-none d-lg-inline">Update available</span>
            <span class="d-lg-none">Update</span>
          </a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a
            href="{% url 'anthias_app:home' %}"
            class="nav-link {% if active_nav == 'home' %}active{% endif %}"
            @click="open = false"
          >
            <i class="bi bi-collection-play"></i>
            <span>Schedule</span>
          </a>
        </li>

        {% if is_balena %}
        <li class="nav-item">
          <a
            href="{% url 'anthias_app:integrations' %}"
            class="nav-link {% if active_nav == 'integrations' %}active{% endif %}"
            @click="open = false"
          >
            <i class="bi bi-puzzle"></i>
            <span>Integrations</span>
          </a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a
            href="{% url 'anthias_app:settings' %}"
            class="nav-link {% if active_nav == 'settings' %}active{% endif %}"
            @click="open = false"
          >
            <i class="bi bi-gear"></i>
            <span>Settings</span>
          </a>
        </li>

        <li class="nav-item d-none d-lg-block" aria-hidden="true">
          <span class="divider-vertical"></span>
        </li>

        <li class="nav-item">
          <a
            href="{% url 'anthias_app:system_info' %}"
            class="nav-link {% if active_nav == 'system-info' %}active{% endif %}"
            @click="open = false"
          >
            <i class="bi bi-activity"></i>
            <span>System info</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
