{% extends "_layout.html" %}

{% block title %}{% if player_name %}{{ player_name }} · {% endif %}System Info{% endblock %}

{% block main %}
<div class="container">
  <div class="row py-2">
    <div class="col-12">
      <h4 class="page-header text-white"><b>System Info</b></h4>
    </div>
  </div>
  <div class="row content">
    <div class="col-12">
      <table class="table mb-5">
        <thead class="table-borderless">
          <tr>
            <th class="text-secondary fw-normal" scope="col" style="width: 20%">Option</th>
            <th class="text-secondary fw-normal" scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Load Average</th>
            <td>{{ loadavg }}</td>
          </tr>
          <tr>
            <th scope="row">Free Space</th>
            <td>{{ free_space }}</td>
          </tr>
          <tr>
            <th scope="row">Memory</th>
            <td>
              <div>Total: <strong>{{ memory.total }} MiB</strong></div>
              <div>Used: <strong>{{ memory.used }} MiB</strong></div>
              <div>Free: <strong>{{ memory.free }} MiB</strong></div>
              <div>Shared: <strong>{{ memory.shared }} MiB</strong></div>
              <div>Buff: <strong>{{ memory.buff }} MiB</strong></div>
              <div>Available: <strong>{{ memory.available }} MiB</strong></div>
            </td>
          </tr>
          <tr>
            <th scope="row">Uptime</th>
            <td>{{ uptime.days }} days and {{ uptime.hours }} hours</td>
          </tr>
          <tr>
            <th scope="row">Display Power (CEC)</th>
            <td>{{ display_power|default:"None" }}</td>
          </tr>
          <tr>
            <th scope="row">Device Model</th>
            <td>{{ device_model }}</td>
          </tr>
          <tr>
            <th scope="row">Anthias Version</th>
            <td>
              {% if anthias_version_master_link %}
              <a href="{{ anthias_version_master_link }}" rel="noopener" target="_blank" class="text-dark">{{ anthias_version }}</a>
              {% else %}
              {{ anthias_version }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">MAC Address</th>
            <td>{{ mac_address }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
