---
- name: Check if screenly-network-manager files exist
  ansible.builtin.stat:
    path: /usr/sbin/screenly_net_mgr.py
  register: screenly_network_manager

- name: Check if screenly-network-manager is set
  ansible.builtin.set_fact: screenly_network_manager_exist="{{ screenly_network_manager.stat.exists }}"

- name: Disable network manager
  ansible.builtin.command: systemctl disable screenly-net-manager.service
  when: screenly_network_manager_exist

- name: Disable network watchdog
  ansible.builtin.command: systemctl disable screenly-net-watchdog.timer
  when: screenly_network_manager_exist

- name: Remove network manager and watchdog
  ansible.builtin.file:
    state: absent
    path: "/usr/sbin/{{ item }}"
  with_items:
    - screenly_net_mgr.py
    - screenly_net_watchdog.py

- name: Remove network manager and watchdog unit files
  ansible.builtin.file:
    state: absent
    path: "/etc/systemd/system/{{ item }}"
  with_items:
    - screenly-net-manager.service
    - screenly-net-watchdog.service

- name: Remove network watchdog timer file
  ansible.builtin.file:
    state: absent
    path: /etc/systemd/system/screenly-net-watchdog.timer

# Use resin-wifi-connect if Stretch
- name: Debug msg for manage network
  ansible.builtin.debug:
    msg: "Manage network: {{ manage_network }}"

- name: Add pi user to Identity
  ansible.builtin.replace:
    regexp: '^Identity=.*'
    replace: "Identity=unix-group:netdev;unix-group:sudo:{{ lookup('env', 'USER') }}"
    dest: /var/lib/polkit-1/localauthority/10-vendor.d/org.freedesktop.NetworkManager.pkla
  when: manage_network|bool

- name: Set ResultAny to yes
  ansible.builtin.replace:
    regexp: '^ResultAny=.*'
    replace: 'ResultAny=yes'
    dest: /var/lib/polkit-1/localauthority/10-vendor.d/org.freedesktop.NetworkManager.pkla
  when: manage_network|bool

- name: Copy org.freedesktop.NetworkManager.pkla to 50-local.d
  ansible.builtin.command: cp -f /var/lib/polkit-1/localauthority/10-vendor.d/org.freedesktop.NetworkManager.pkla /etc/polkit-1/localauthority/50-local.d
  when: manage_network|bool

- name: Disable dhcpcd
  ansible.builtin.command: systemctl disable dhcpcd
  when:
    - ansible_distribution_major_version|int >= 9
    - manage_network|bool

- name: Activate NetworkManager
  ansible.builtin.command: systemctl enable NetworkManager
  when:
    - ansible_distribution_major_version|int >= 9
    - manage_network|bool
