- name: Copies network manger and watchdog
  copy:
    owner: root
    group: root
    mode: 0755
    src: "{{ item }}"
    dest: "/usr/sbin/{{ item }}"
  with_items:
    - screenly_net_mgr.py
    - screenly_net_watchdog.py

- name: Copies network manager unit file
  copy:
    owner: root
    group: root
    src: screenly-net-manager.service
    dest: /etc/systemd/system/screenly-net-manager.service

- name: Copies network watchdog service file
  copy:
    owner: root
    group: root
    src: screenly-net-watchdog.service
    dest: /etc/systemd/system/screenly-net-watchdog.service

- name: Copies network watchdog timer file
  copy:
    owner: root
    group: root
    src: screenly-net-watchdog.timer
    dest: /etc/systemd/system/screenly-net-watchdog.timer

- name: Copies in sample network.ini file
  copy:
    owner: root
    group: root
    mode: 0644
    src: network.ini-sample
    dest: /boot/network.ini-sample

- name: Activate network manager
  command: systemctl enable screenly-net-manager.service chdir=/etc/systemd/system

- name: Activate network watchdog
  command: systemctl enable screenly-net-watchdog.timer chdir=/etc/systemd/system

- name: Install cronjob for watchdog
  cron:
    name: Screenly Net Watchdog
    minute: 0
    job: /usr/bin/python /usr/sbin/screenly_net_watchdog.py
    state: absent
