[Unit]
Description=Anthias WiFi Connect
After=docker.service

[Service]
WorkingDirectory=/home/{{ anthias_user }}/screenly
User={{ anthias_user }}

ExecStart=bash /home/{{ anthias_user }}/screenly/start_wifi_connect_service.sh

[Install]
WantedBy=multi-user.target
