<div class="form-group row" id="user_group">
    <label class="col-2 col-form-label">User</label>
    <div class="col-3">
        <input class="form-control" name="user" type="text" value="{{ context.user }}">
    </div>
</div>
<div class="form-group row" id="password_group">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-3">
        <input class="form-control" name="password" type="password" value="">
    </div>
</div>
<div class="form-group row" id="password2_group">
    <label class="col-2 col-form-label">Confirm Password</label>
    <div class="col-3">
        <input class="form-control" name="password2" type="password" value="">
    </div>
</div>