<div class="form-group" id="user_group">
    <label class="small text-secondary">User</label>
    <input class="form-control" name="user" type="text" value="{{ context.user }}">
</div>
<div class="row">
    <div class="form-group col-6" id="password_group">
        <label class="small text-secondary">Password</label>
        <input class="form-control" name="password" type="password" value="">
    </div>
    <div class="form-group col-6" id="password2_group">
        <label class="small text-secondary">Confirm Password</label>
        <input class="form-control" name="password2" type="password" value="">
    </div>
</div>
