<div class="mb-3" id="user_group">
    <label class="small text-secondary form-label"><small>User</small></label>
    <input class="form-control" name="user" type="text" value="{{ user }}">
</div>
<div class="row">
    <div class="mb-3 col-6" id="password_group">
        <label class="small text-secondary form-label"><small>Password</small></label>
        <input class="form-control" name="password" type="password" value="">
    </div>
    <div class="mb-3 col-6" id="password2_group">
        <label class="small text-secondary form-label"><small>Confirm Password</small></label>
        <input class="form-control" name="password2" type="password" value="">
    </div>
</div>
