<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}

    {% block head %}
    {% endblock %}
</head>

<body>

{% include 'header.html' %}

{% block content %}
{% endblock %}

<div class="container mt-2">
    <div class="row">
        <div class="col-6 small">
            <span>Want to get more out of your digital signage?
              <a class="brand"
                 href="https://www.screenly.io/?utm_source=Screenly-OSE&amp;utm_medium=root-page&amp;utm_campaign=OSE"
                 target="_blank">
                <strong>Try the commercial version of Screenly.</strong>
              </a></span>
        </div>
        <div class="col-6 text-right small">
            <span>
              <a href="javascript://" id="subsribe-form-container" data-html="true" data-trigger="focus"
                 data-placement="top">
                <strong>Get the latest Screenly news directly in your mailbox.</strong>
              </a>
            </span>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script type="text/javascript">
    $(".navbar .nav li a").removeClass('active');
    $(".navbar .nav li a[href='" + window.location.pathname + "']").addClass('active');
</script>

</body>

</html>
