<div id="footer">
    <div class="container">
        <div class="copy">
            &copy; Screenly, Inc.
        </div>
        <div id="screenly-logo" class="row">
            <a href="/api/docs/" target="_blank" class="mr-4 justify-content-center align-self-center">
                API
            </a>
            <a href="https://support.screenly.io/hc/en-us/sections/202652366-Frequently-Asked-Questions-FAQ-"
               target="_blank" class="mr-4 justify-content-center align-self-center">
                Knowledge Base
            </a>
            <a href="http://screenly.io/" target="_blank" class="mr-4 justify-content-center align-self-center">
                Screenly.io
            </a>
            <a href="https://forums.screenly.io/" target="_blank" class="mr-4 justify-content-center align-self-center">
                Support
            </a>
            <div id="github-stars">
                <a class="github-button"
                   href="https://github.com/screenly/screenly-ose" data-size="large" data-show-count="true"
                   aria-label="Star screenly/screenly-ose on GitHub">
                    Star
                </a>
            </div>
        </div>
    </div>
</div>
