<div id="request-error" class="navbar navbar fixed-top">
    <div class="container">
        <div class="alert" style="display:none">
            <button class="close" type="button">&times;</button>
            <span class="msg"></span>
        </div>
    </div>
</div>
<div class="navbar navbar-header navbar-expand-lg fixed-top bg-dark">
    <div class="container">
        <a class="brand" href="/">
            <img src="static/img/screenly_ose_logo.png"/>
        </a>
        <ul class="nav float-right">
            {% if not context.up_to_date %}
                <li class="update-available">
                    <a href="/settings#upgrade-section">
                        <i class="fas fa-arrow-circle-down pr-1"></i>
                        Update Available
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="/">
                    <i class="far fa-clock pr-1"></i>
                    Schedule Overview
                </a>
            </li>
            <li>
                <a href="/integrations">
                    <i class="far fa-plus-square pr-1"></i>
                    Integrations
                </a>
            </li>
            <li>
                <a href="/settings">
                    <i class="fas fa-cogs pr-1"></i>
                    Settings
                </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a href="/system-info">
                    <i class="fas fa-tasks pr-1"></i>
                    System Info
                </a>
            </li>
        </ul>
    </div>
</div>
