{% extends "base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/datepicker.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/timepicker.css') }}" rel="stylesheet"/>

    <script src="{{ url_for('static', filename='js/underscore-1.4.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>

    <script src="{{ url_for('static', filename='js/base64js.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/backbone-0.9.10.min.js') }}"></script> <!-- needs jquery -->

    <script src="{{ url_for('static', filename='js/jquery-ui-1.10.1.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
    <!-- needs jqueryui.widget -->

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> <!-- needs jquery -->
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-timepicker.js') }}"></script>

    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>

    <script type="text/javascript">
        var dateFormat = "{{ context.date_format }}";
        var defaultDuration = {{ context.default_duration }};
        var defaultStreamingDuration = {{ context.default_streaming_duration }};
        var use24HourClock = {% if context.use_24_hour_clock %} true; {% else %} false; {% endif %}
        var wsAddresses = {{ context.ws_addresses|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/screenly-ose.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script id="asset-row-template" type="text/template">
        <td class="asset_row_name">
            <img src="static/img/drag-handle.png"/>
            <i class="asset-icon"></i>
            <%= name %>
        </td>
        <td style="width:21%">
            <%= start_date %>
        </td>
        <td style="width:21%">
            <%= end_date %>
        </td>
        <td style="width:13%">
            <%= duration %>
        </td>
        <td class="asset-toggle" style="width:7%">
            <label class="is_enabled-toggle toggle switch-light switch-ios small m-0">
                <input type="checkbox"/>
                <span>
                    <span class="off"></span>
                    <span class="on"></span>
                    <a></a>
                </span>
            </label>
        </td>
        <td class="asset_row_btns">
            <button class="download-asset-button btn btn-outline-dark" type="button">
                <i class="fas fa-download"></i>
            </button>
            <button class="edit-asset-button btn btn-outline-dark" type="button">
                <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="delete-asset-button btn btn-outline-dark" data-html="true" data-placement="left"
                    data-title="Are you sure?" data-trigger="manual" type="button">
                <i class="far fa-trash-alt"></i>
            </button>
        </td>
    </script>

    <script id="confirm-delete-template" type="text/template">
        <div class="popover-delete-content">
            <div class="float-left">
                <a class="confirm-delete btn btn-danger" href="#">Delete</a>
            </div>
            <div class="float-right">
                <a class="cancel-delete btn btn-outline-dark" href="#">Cancel</a>
            </div>
        </div>
    </script>

    <script id="processing-message-template" type="text/template">
        <label class="processing-message">Asset in processing</label>
    </script>

    <script id="request-error-template" type="text/template">
        <div class="container">
            <div class="alert alert-danger">
                <button class="close" data-dismiss="alert" type="button">&times;</button>
                <span class="msg">
            The operation failed. Please reload the page and try again.
          </span>
            </div>
        </div>
    </script>

    <script id="request-success-template" type="text/template">
        <div class="container">
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert" type="button">&times;</button>
                <span class="msg"></span>
            </div>
        </div>
    </script>

    <script id="asset-modal-template" type="text/template">
        <div class="modal hide fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="form-horizontal">
                        <div class="modal-header">
                            <h3 id="modalLabel">Add Asset</h3>
                        </div>
                        <div class="modal-body">
                            <div class="asset-location add">
                                <fieldset>
                                    <div class="tabbable">
                                        <ul class="nav nav-tabs">
                                            <li class="tabnav-uri nav-item active show" style="margin-left:180px">
                                                <a class="nav-link" href="#tab-uri">URL</a>
                                            </li>
                                            <li class="tabnav-file_upload nav-item">
                                                <a class="nav-link" href="#tab-file_upload">Upload</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="tab-uri" class="tab-pane active"></div>
                                            <div id="tab-file_upload" class="tab-pane">
                                                <div class="control-group">
                                                    <div class="filedrop">
                                                        <div class="upload-header">
                                                            <button class="btn btn-primary">Add Files..</button>
                                                            <input name="file_upload" type="file"/>
                                                            <br/>
                                                            or
                                                        </div>
                                                        <div>
                                                            drop files here to upload
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <form id="add-form">
                                <div class="form-group row uri">
                                    <label class="col-4 col-form-label">Asset URL</label>
                                    <div class="col-7 controls">
                                        <input class="form-control" name="uri"
                                               placeholder="Public URL to this asset's location" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group row skip_asset_check_checkbox">
                                    <label class="col-4 small">Skip asset check</label>
                                    <div class="col-7 is_enabled-skip_asset_check_checkbox checkbox">
                                        <input name="skip_asset_check" type="checkbox" value="0">
                                    </div>
                                </div>
                                <div class="asset-location edit" style="display:none">
                                    <div class="form-group row name">
                                        <label class="col-4 col-form-label">Name</label>
                                        <div class="col-7">
                                            <input class="form-control" name="name"
                                                   placeholder="Nickname for this asset" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Asset Location</label>
                                        <div class="col-8 controls">
                                            <div class="uri-text first"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row mimetype">
                                        <label class="col-4 col-form-label">Asset Type</label>
                                        <div class="col-4 controls">
                                            <select class="mime-select form-control" name="mimetype">
                                                <option value="webpage">Webpage</option>
                                                <option value="image">Image</option>
                                                <option value="video">Video</option>
                                                <option value="streaming">Streaming</option>
                                                <option value="youtube_asset">YouTubeAsset</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row form-group loop_date">
                                        <label class="col-4 col-form-label">Play for</label>
                                        <div class="controls col-7">
                                            <select class="form-control" id="loop_times">
                                                <option value="day">1 Day</option>
                                                <option value="week">1 Week</option>
                                                <option value="month">1 Month</option>
                                                <option value="year">1 Year</option>
                                                <option value="forever">Forever</option>
                                                <option value="manual" selected="selected">Manual</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="manul_date">
                                        <div class="form-group row start_date">
                                            <label class="col-4 col-form-label">Start Date</label>
                                            <div class="controls col-7">
                                                <input class="form-control date" name="start_date_date" type="text"
                                                       style="margin-right:5px"/>
                                                <input class="form-control time" name="start_date_time" type="text"/>
                                            </div>
                                            <input name="start_date" type="hidden"/>
                                        </div>
                                        <div class="form-group row end_date">
                                            <label class="col-4 col-form-label">End Date</label>
                                            <div class="controls col-7">
                                                <input class="form-control date" name="end_date_date" type="text"
                                                       style="margin-right:5px"/>
                                                <input class="form-control time" name="end_date_time" type="text"/>
                                            </div>
                                            <input name="end_date" type="hidden"/>
                                        </div>
                                    </div>
                                    <div class="form-group row duration">
                                        <label class="col-4 col-form-label">Duration</label>
                                        <div class="col-7 controls">
                                            <input class="form-control" name="duration" type="number"/>
                                            seconds
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="advanced-accordion accordion">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <i class="fas fa-play unrotated"></i>
                                                <a class="advanced-toggle" href="#">Advanced</a>
                                            </div>
                                            <div class="collapse-advanced accordion-body collapse">
                                                <div class="accordion-inner">
                                                    <div class="form-group row">
                                                        <label class="col-4 col-form-label">Disable cache</label>
                                                        <div class="col-8 nocache controls justify-content-center align-self-center">
                                                            <label class="nocache-toggle toggle switch-light switch-ios small m-0">
                                                                <input type="checkbox"/>
                                                                <span><span></span><span></span><a></a></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="status"></div>
                            <div class="float-left progress active" style="display:none">
                                <div class="bar progress-bar-striped progress-bar progress-bar-animated"></div>
                            </div>
                            <input class="btn btn-outline-dark btn-long cancel" type="button" value="Cancel"/>
                            <input id="save-asset" class="btn btn-primary btn-long" type="submit" value="Save"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="subscribe-form-template" type="text/template">
        <form class="validate"
              action="//wireload.us1.list-manage.com/subscribe/post?u=adb4f752497b0d86b3b1b79d7&amp;id=5c47388076"
              method="post" name="mc-embedded-subscribe-form" style="margin-bottom:5px" target="_blank">
            <div class="mc-field-group form-group">
                <label for="mce-EMAIL">
                    Email Address
                    <span class="asterisk">*</span>
                </label>
                <input id="mce-EMAIL" class="required email form-control" name="EMAIL" required="required"
                       type="email"/>
            </div>
            <div class="mc-field-group form-group">
                <label for="mce-FNAME">First Name</label>
                <input id="mce-FNAME" class="form-control" name="FNAME" type="text"/>
            </div>
            <div class="mc-field-group form-group">
                <label for="mce-LNAME">Last Name</label>
                <input id="mce-LNAME" class="form-control" name="LNAME" type="text"/>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
            <div hidden="true" style="position absolute; left -5000px;">
                <input name="b_adb4f752497b0d86b3b1b79d7_5c47388076" tabindex="-1" type="text"/>
            </div>
            <input id="mc-embedded-subscribe" class="button btn btn-outline-dark" name="subscribe" type="submit"
                   value="Subscribe"/>
        </form>
    </script>
{% endblock %}

{% block content %}
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col-12">
                <h5 class="d-flex">
                    <b class="justify-content-center align-self-center">Schedule Overview</b>
                    <div class="ml-auto">
                        <a id="previous-asset-button" class="btn btn-long btn-outline-dark" href="#">
                            <i class="fas fa-long-arrow-alt-left pr-2"></i>
                            Previous Asset
                        </a>
                        <a id="next-asset-button" class="btn btn-long btn-outline-dark" href="#">
                            Next Asset
                            <i class="fas fa-long-arrow-alt-right pl-2"></i>
                        </a>
                        <a id="add-asset-button" class="add-asset-button btn btn-long btn-primary" href="#">
                            Add Asset
                        </a>
                    </div>
                </h5>
                {% if context.player_name %}
                    <h2>{{ context.player_name }}</h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div id="assets" class="row content">
            <div class="col-12 mb-5">
                <section id="active-assets-section">
                    <h4>
                        <b>Active assets</b>
                    </h4>
                    <table class="table">
                        <thead class="table-borderless">
                        <tr>
                            <th class="text-secondary font-weight-normal asset_row_name">Name</th>
                            <th class="text-secondary font-weight-normal" style="width:21%">Start</th>
                            <th class="text-secondary font-weight-normal" style="width:21%">End</th>
                            <th class="text-secondary font-weight-normal" style="width:13%">Duration</th>
                            <th class="text-secondary font-weight-normal" style="width:7%">Activity</th>
                            <th class="text-secondary font-weight-normal" style="width:13%"></th>
                        </tr>
                        </thead>
                        <tbody id="active-assets"></tbody>
                    </table>
                    <div class="table-assets-help-text text-secondary">Currently there are no assets. <a class="add-asset-button" href="#">Add asset</a> now.</div>
                </section>
            </div>
            <div class="col-12">
                <section id="inactive-assets-section">
                    <h4>
                        <b>Inactive assets</b>
                    </h4>
                    <table class="table">
                        <thead class="table-borderless">
                        <tr>
                            <th class="text-secondary font-weight-normal asset_row_name">Name</th>
                            <th class="text-secondary font-weight-normal" style="width:21%">Start</th>
                            <th class="text-secondary font-weight-normal" style="width:21%">End</th>
                            <th class="text-secondary font-weight-normal" style="width:13%">Duration</th>
                            <th class="text-secondary font-weight-normal" style="width:7%">Activity</th>
                            <th class="text-secondary font-weight-normal" style="width:13%"></th>
                        </tr>
                        </thead>
                        <tbody id="inactive-assets"></tbody>
                    </table>
                    <div class="table-assets-help-text text-secondary">Currently there are no assets. <a class="add-asset-button" href="#">Add asset</a> now.</div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
