<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    {% if context.player_name %}
        <title>Screenly OSE - {{ context.player_name }}</title>
    {% else %}
        <title>Screenly OSE</title>
    {% endif %}
    <link href="/static/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon-precomposed" sizes="57x57"/>
    <link href="/static/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114"/>
    <link href="/static/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72"/>
    <link href="/static/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144"/>
    <link href="/static/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon-precomposed" sizes="60x60"/>
    <link href="/static/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon-precomposed" sizes="120x120"/>
    <link href="/static/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon-precomposed" sizes="76x76"/>
    <link href="/static/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="152x152"/>
    <link href="/static/favicons/favicon-196x196.png" rel="icon" sizes="196x196" type="image/png"/>
    <link href="/static/favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
    <link href="/static/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
    <link href="/static/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
    <link href="/static/favicons/favicon-128.png" rel="icon" sizes="128x128" type="image/png"/>
    <meta content="screenly-ose;" name="application-name"/>
    <meta content="#FFFFFF" name="msapplication-TileColor"/>
    <meta content="/static/favicons/mstile-144x144.png" name="msapplication-TileImage"/>
    <meta content="/static/favicons/mstile-70x70.png" name="msapplication-square70x70logo"/>
    <meta content="/static/favicons/mstile-150x150.png" name="msapplication-square150x150logo"/>
    <meta content="/static/favicons/mstile-310x150.png" name="msapplication-wide310x150logo"/>
    <meta content="/static/favicons/mstile-310x310.png" name="msapplication-square310x310logo"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/screenly.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/toggle-switch.css') }}" rel="stylesheet"/>

    <link href="{{ url_for('static', filename='fontawesome/css/all.css') }}" rel="stylesheet"/>

    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> <!-- needs jquery -->
    <script src="{{ url_for('static', filename='js/jquery-ui-1.10.1.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script> <!-- needs jqueryui.widget -->

    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
</head>

<body>
<div id="request-error" class="navbar navbar fixed-top">
    <div class="container">
        <div class="alert" style="display:none">
            <button class="close" type="button">&times;</button>
            <span class="msg"></span>
        </div>
    </div>
</div>

<div class="navbar navbar-expand-lg fixed-top bg-primary">
    <div class="container">
        <a class="brand" href="/">
            <img src="static/img/screenly_ose_logo.png"/>
        </a>
        <ul class="nav float-right">
            {% if not context.up_to_date %}
                <li class="update-available">
                    <a href="http://www.screenlyapp.com/ose.html#upgrade">
                        <i class="fas fa-arrow-circle-down"></i>
                        Update Available
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="/settings">
                    <i class="fas fa-cogs"></i>
                    Settings
                </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a href="/system_info">
                    <i class="fas fa-tasks"></i>
                    System Info
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-header">
                Settings
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% if context.flash %}
                <div class="alert alert-{{ context.flash['class'] }}">
                    {{ context.flash['message'] }}
                </div>
            {% endif %}
            <form method="post">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Player name</label>
                    <div class="col-3">
                        <input class="form-control" name="player_name" type="text" value="{{ context.player_name }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Show splash screen</label>
                    <div class="col-3">
                        <label id="splash_checkbox" class="checkbox toggle card card-body bg-light form-control">
                            {% if context.show_splash %}
                                <input name="show_splash" checked="checked" type="checkbox"/>
                            {% else %}
                                <input name="show_splash" type="checkbox"/>
                            {% endif %}
                            <p>
                                <span class="on">On</span>
                                <span class="off">Off</span>
                            </p>
                            <a class="btn btn-primary slide-button"></a>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Shuffle playlist</label>
                    <div class="col-3">
                        <label id="shuffle_checkbox" class="checkbox toggle card card-body bg-light">
                            {% if context.shuffle_playlist %}
                                <input name="shuffle_playlist" checked="checked" type="checkbox"/>
                            {% else %}
                                <input name="shuffle_playlist" type="checkbox"/>
                            {% endif %}
                            <p>
                                <span class="on">On</span>
                                <span class="off">Off</span>
                            </p>
                            <a class="btn btn-primary slide-button"></a>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Audio output</label>
                    <div class="col-2">
                        <select class="form-control" name="audio_output">
                            {% if context.audio_output == 'hdmi' %}
                                <option value="hdmi" selected="selected">HDMI</option>
                                <option value="local">3.5mm jack</option>
                            {% else %}
                                <option value="hdmi">HDMI</option>
                                <option value="local" selected="selected">3.5mm jack</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Default duration</label>
                    <div class="col-1">
                        <input class="form-control" name="default_duration" type="number"
                               value={{ context.default_duration }} />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Default streaming duration</label>
                    <div class="col-1">
                        <input class="form-control" name="default_streaming_duration" type="number"
                               value={{ context.default_streaming_duration }} />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Use 24-hour clock</label>
                    <div class="col-3">
                        <label id="use_24_hour_clock_checkbox" class="checkbox toggle card card-body bg-light">
                            {% if context.use_24_hour_clock %}
                                <input name="use_24_hour_clock" checked="checked" type="checkbox"/>
                            {% else %}
                                <input name="use_24_hour_clock" type="checkbox"/>
                            {% endif %}
                            <p>
                                <span class="on">On</span>
                                <span class="off">Off</span>
                            </p>
                            <a class="btn btn-primary slide-button"></a>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Debug logging</label>
                    <div class="col-3">
                        <label id="debug_checkbox" class="checkbox toggle card card-body bg-light">
                            {% if context.debug_logging %}
                                <input name="debug_logging" checked="checked" type="checkbox">
                            {% else %}
                                <input name="debug_logging" type="checkbox">
                            {% endif %}
                            <p>
                                <span class="on">On</span>
                                <span class="off">Off</span>
                            </p>
                            <a class="btn btn-primary slide-button"></a>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Use Authentication</label>
                    <div class="col-3">
                        <label id="auth_checkbox" class="checkbox toggle card card-body bg-light">
                            {% if context.use_auth %}
                                <input name="use_auth" checked="checked" type="checkbox"/>
                            {% else %}
                                <input name="use_auth" type="checkbox"/>
                            {% endif %}
                            <p>
                                <span class="on">On</span>
                                <span class="off">Off</span>
                            </p>
                            <a class="btn btn-primary slide-button"></a>
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">Use system commands</label>
                    <div class="col-3">
                        <label id="use_system_commands_checkbox" class="checkbox toggle card card-body bg-light">
                            {% if context.use_system_commands %}
                                <input name="use_system_commands" checked="checked" type="checkbox"/>
                            {% else %}
                                <input name="use_system_commands" type="checkbox"/>
                            {% endif %}
                            <p>
                                <span class="on">On</span>
                                <span class="off">Off</span>
                            </p>
                            <a class="btn btn-primary slide-button"></a>
                        </label>
                    </div>
                </div>

                <div class="form-group row" id="user_group">
                    <label class="col-2 col-form-label">User</label>
                    <div class="col-3">
                        <input class="form-control" name="user" type="text" value="{{ context.user }}">
                    </div>
                </div>
                {% if context.password != "" %}
                    <div class="form-group row" id="curpassword_group">
                        <label class="col-2 col-form-label">Current Password</label>
                        <div class="col-3">
                            <input class="form-control" name="curpassword" type="password" value="">
                        </div>
                    </div>
                {% endif %}
                <div class="form-group row" id="password_group">
                    <label class="col-2 col-form-label">Password</label>
                    <div class="col-3">
                        <input class="form-control" name="password" type="password" value="">
                    </div>
                </div>
                <div class="form-group row" id="password2_group">
                    <label class="col-2 col-form-label">Confirm Password</label>
                    <div class="col-3">
                        <input class="form-control" name="password2" type="password" value="">
                    </div>
                </div>

                <div class="form-actions form-group row">
                    <div class="offset-1 col-3">
                        <input class="btn btn-primary" type="submit" value="Save Settings">
                        <a class="btn btn-outline-secondary" href="/">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div id="wifi-section" class="col-12">
            <h1 class="page-header">
                Reset wifi config
            </h1>
            <p>Run it, and if the next boot does not have a network connection, you will be prompted to select a WiFi
                network. <br><b>Warning:</b> after pressing, a reboot is required. Web interface will not be available
                until reboot.</p>
            <div class="form-actions">
                <button id="btn-reset" class="btn btn-primary" type="button" {{ context.reset_button_state }}>Re-run
                    network detection
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="backup-section" class="col-12">
            <h1 class="page-header">
                Backup
            </h1>
            <div class="form-actions">
                <input name="backup_upload" style="display:none" type="file">
                <button id="btn-upload" class="btn btn-primary" type="button">Upload and Recover</button>
                <button id="btn-backup" class="btn btn-outline-secondary">Get backup</button>
                <div class="progress-bar progress-bar-striped progress active" style="display:none">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="upgrade-section" class="col-12">
            <h1 class="page-header">
                Upgrade Screenly
            </h1>
            <div class="form-actions">
                <button id="btn-upgrade" class="btn btn-primary" type="button">Screenly Upgrade</button>
            </div>
        </div>
        <div id="upgrade-modal" class="modal hide fade" aria-hidden="true"
             data-backdrop="static" data-keyboard="false" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="form-horizontal">
                        <div class="modal-header">
                            <h3 id="modalLabel">Upgrade Screenly</h3>
                        </div>
                        <div class="modal-body">
                            <form id="upgrade-form">
                                <div id="branch-group-radio" class="form-group">
                                    <label>Choose the branch you want to use</label>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="latest_branch"
                                               name="groupOfBranch" value="latest" checked>
                                        <label class="custom-control-label" for="latest_branch">Latest</label>
                                    </div>

{#                                    <div class="custom-control custom-radio">#}
{#                                        <input type="radio" class="custom-control-input" id="production_branch"#}
{#                                               name="groupOfBranch" value="production">#}
{#                                        <label class="custom-control-label"#}
{#                                               for="production_branch">Production</label>#}
{#                                    </div>#}


{#                                    <div class="custom-control custom-radio">#}
{#                                        <input type="radio" class="custom-control-input" id="experimental_branch"#}
{#                                               name="groupOfBranch" value="experimental">#}
{#                                        <label class="custom-control-label"#}
{#                                               for="experimental_branch">Experimental</label>#}
{#                                    </div>#}
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-form-label text-left">Do you want Screenly to manage your
                                        network? This is recommended for most users.</label>
                                    <div class="col-3">
                                        <label id="manage_network_checkbox"
                                               class="checkbox toggle card card-body bg-light">
                                            <input name="manage_network" checked="checked" type="checkbox"/>
                                            <p>
                                                <span class="on">On</span>
                                                <span class="off">Off</span>
                                            </p>
                                            <a class="btn btn-primary slide-button"></a>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-form-label text-left">Would you like to perform a full
                                        system upgrade as well?</label>
                                    <div class="col-3">
                                        <label id="system_upgrade_checkbox"
                                               class="checkbox toggle card card-body bg-light">
                                            <input name="system_upgrade" type="checkbox"/>
                                            <p>
                                                <span class="on">On</span>
                                                <span class="off">Off</span>
                                            </p>
                                            <a class="btn btn-primary slide-button"></a>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" id="upgrade_logs_block">
                                    <label for="upgrade_logs">Logs:</label>
                                    <textarea readonly class="form-control" rows="5" id="upgrade_logs"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="start-upgrade-btn" class="btn btn-primary" type="button">
                                Start upgrade
                            </button>
                            <button id="close-upgrade-btn" class="btn btn-secondary" type="button">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="copy">
            &copy; Screenly, Inc.
        </div>
        <a id="screenly-logo" href="http://screenly.io/" target="_blank">
            Screenly.io
        </a>
    </div>
</div>
</body>
</html>
