<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    {% if context.player_name %}
        <title>Screenly OSE - {{ context.player_name }}</title>
    {% else %}
        <title>Screenly OSE</title>
    {% endif %}
    <link href="/static/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon-precomposed" sizes="57x57"/>
    <link href="/static/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114"/>
    <link href="/static/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72"/>
    <link href="/static/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144"/>
    <link href="/static/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon-precomposed" sizes="60x60"/>
    <link href="/static/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon-precomposed" sizes="120x120"/>
    <link href="/static/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon-precomposed" sizes="76x76"/>
    <link href="/static/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="152x152"/>
    <link href="/static/favicons/favicon-196x196.png" rel="icon" sizes="196x196" type="image/png"/>
    <link href="/static/favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
    <link href="/static/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
    <link href="/static/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
    <link href="/static/favicons/favicon-128.png" rel="icon" sizes="128x128" type="image/png"/>
    <meta content="screenly-ose;" name="application-name"/>
    <meta content="#FFFFFF" name="msapplication-TileColor"/>
    <meta content="/static/favicons/mstile-144x144.png" name="msapplication-TileImage"/>
    <meta content="/static/favicons/mstile-70x70.png" name="msapplication-square70x70logo"/>
    <meta content="/static/favicons/mstile-150x150.png" name="msapplication-square150x150logo"/>
    <meta content="/static/favicons/mstile-310x150.png" name="msapplication-wide310x150logo"/>
    <meta content="/static/favicons/mstile-310x310.png" name="msapplication-square310x310logo"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/screenly.css') }}" rel="stylesheet"/>

    <link href="{{ url_for('static', filename='fontawesome/css/all.css') }}" rel="stylesheet"/>

    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
</head>
<body>
<div class="navbar navbar-expand-lg fixed-top bg-primary">
    <div class="container">
        <a class="brand" href="/">
            <img src="static/img/screenly_ose_logo.png"/>
        </a>
        <ul class="nav float-right">
            {% if not context.up_to_date %}
                <li class="update-available">
                    <a href="http://www.screenlyapp.com/ose.html#upgrade">
                        <i class="fas fa-arrow-circle-down"></i>
                        Update Available
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="/settings">
                    <i class="fas fa-cogs"></i>
                    Settings
                </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a href="/system_info">
                    <i class="fas fa-tasks"></i>
                    System Info
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">

            <h1 class="page-header">
                System Info
            </h1>

            <table class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Load Average</th>
                    <th>Free Space</th>
                    <th>Uptime</th>
                    <th>Monitor Info</th>
                    <th>Display Power</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ context.loadavg }}</td>
                    <td>{{ context.free_space }}</td>
                    <td>{{ context.uptime.days }} days and {{ (context.uptime.seconds / 3600)|round(2) }} hours</td>
                    <td>{{ context.display_info }}</td>
                    <td>{{ context.display_power }}</td>
                </tr>
                </tbody>
            </table>

            <section>
                <div class="header bg-primary">Latest Viewer Logs</div>
            </section>

            {% if context.viewlog %}
                <table class="table table-striped">
                    {% for line in context.viewlog %}
                        <tr>
                            <td>{{ line }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>There are no recent log messages.</p>
            {% endif %}

        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="copy">
            &copy; Screenly, Inc.
        </div>
        <a id="screenly-logo" href="http://screenly.io/" target="_blank">
            Screenly.io
        </a>
    </div>
</div>


</body>
</html>
