{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row py-2">
            <div class="col-12">
                <h4 class="page-header text-white">
                    <b>System Info</b>
                </h4>
            </div>
        </div>
        <div class="row content">
            <div class="col-12">

                <table class="table mb-5">
                    <thead class="table-borderless">
                    <tr>
                        <th class="text-secondary font-weight-normal" scope="col" style="width: 20%">Option</th>
                        <th class="text-secondary font-weight-normal" scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Load Average</th>
                        <td>{{ loadavg }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Free Space</th>
                        <td>{{ free_space }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Memory</th>
                        <td>
                            Total: <strong>{{ memory.total }}</strong> /
                            Used: <strong>{{ memory.used }}</strong> /
                            Free: <strong>{{ memory.free }}</strong> /
                            Shared: <strong>{{ memory.shared }}</strong> /
                            Buff: <strong>{{ memory.buff }}</strong> /
                            Available: <strong>{{ memory.available }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Uptime</th>
                        <td>{{ uptime.days }} days and {{ uptime.hours }} hours</td>
                    </tr>
                    <tr>
                        <th scope="row">Display Power (CEC)</th>
                        <td>{{ display_power }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Device Model</th>
                        <td>{{ device_model }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Anthias Version</th>
                        <td>
                            {% if anthias_commit_link %}
                                <a
                                    href="{{ anthias_commit_link }}"
                                    rel="noopener"
                                    target="_blank"
                                    class="text-dark"
                                >
                                    {{ anthias_version }}
                                </a>
                            {% else %}
                                {{ anthias_version }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">MAC Address</th>
                        <td>{{ mac_address }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
