[Unit]
Description=Screenly Web UI
After=network-online.target

[Service]
WorkingDirectory=/home/{{ screenly_user }}/screenly
User={{ screenly_user }}
ExecStartPre=/usr/bin/python /home/{{ screenly_user }}/screenly/bin/wait.py
ExecStart=/usr/bin/python /home/{{ screenly_user }}/screenly/server.py
Restart=always
RestartSec=5
Environment=PYTHONPATH=/home/{{ screenly_user }}/screenly

[Install]
WantedBy=multi-user.target
