- name: Install Anthias
  hosts: all
  user: "{{ lookup('env', 'USER') }}"
  become: true
  vars:
    manage_network: "{{ lookup('env', 'MANAGE_NETWORK') }}"
    docker_tag: "{{ lookup('env', 'DOCKER_TAG') }}"
    device_type: "{{ lookup('env', 'DEVICE_TYPE') }}"

  roles:
    - system
    - screenly
    - network
    - splashscreen
