cec==0.2.8
celery==5.2.2
certifi==2025.10.5
cffi==2.0.0
configparser==7.2.0
cryptography==46.0.5
Cython==3.2.3
Django==4.2.27
djangorestframework==3.16.1
django-dbbackup==4.2.1
drf-spectacular==0.29.0
future==1.0.0
gevent-websocket==0.10.1
gevent==25.9.1
gunicorn==23.0.0
hurry.filesize==0.9
importlib-metadata==4.13.0
Jinja2==3.1.6
jsonschema==4.25.1
kombu==5.5.4
Mako==1.2.2
netifaces==0.11.0
psutil==7.2.1
pyasn1==0.6.1
pydbus==0.6.0
pyOpenSSL==19.1.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyzmq==23.2.1
redis==7.1.0
requests[security]==2.32.3
tenacity==9.1.2
sh==1.8
six==1.17.0
urllib3==2.6.2
wheel==0.38.1
yt-dlp==2025.10.22
