cec==0.2.8
celery==5.2.2
certifi==2024.7.4
cffi==1.14.4
click==8.1.7
configparser==4.0.2
cryptography==3.3.2
Cython==0.29.33
Flask-Cors==4.0.1
flask-restful-swagger-2==0.35
flask-swagger-ui==3.36.0
Flask==2.2.5
future==0.18.3
gevent-websocket==0.10.1
gevent==24.2.1
gunicorn==22.0.0
hurry.filesize==0.9
importlib-metadata==4.13.0
itsdangerous==2.0.1
Jinja2==3.1.4
kombu==5.2.4
Mako==1.2.2
netifaces==0.10.9
psutil==5.7.3
pyasn1==0.4.8
pydbus==0.6.0
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2022.2.1
PyYAML==6.0.1
pyzmq==23.2.1
redis==3.5.3
requests[security]==2.32.3
tenacity==9.0.0
sh==1.8
six==1.15.0
urllib3==1.26.19
Werkzeug==2.2.3
wheel==0.38.1
yt-dlp==2024.7.7
