# vim: ft=requirements

cec==0.2.8
certifi==2024.7.4
configparser==4.0.2
cryptography==3.3.2
Cython==3.0.6
Django==4.2.24
django-dbbackup==4.2.1
drf-spectacular==0.28.0
future==0.18.3
idna==3.10
Jinja2==3.1.6
jsonschema==4.17.3 # This is the latest version that doesn't require Rust and Cargo.
netifaces==0.11.0
pydbus==0.6.0
python-dateutil==2.9.0.post0
python-vlc==3.0.20123
pytz==2022.2.1
pyzmq==23.2.1
redis==3.5.3
requests[security]==2.32.3
tenacity==9.0.0
sh==2.2.2
uptime==3.0.1
urllib3==2.5.0
