[Unit]
Description=Screenly Viewer
After=matchbox.service screenly-web.service

[Service]
WorkingDirectory=/home/pi/screenly
User=pi

Environment=DISPLAY=:0.0

# Fix white flickering in omxplayer
Environment=NOREFRESH=1

Environment=PYTHONPATH=/home/pi/screenly

# Don't activate screensaver
ExecStartPre=/usr/bin/xset s off

# Disable DPMS (Energy Star) features
ExecStartPre=/usr/bin/xset -dpms

# Don't blank the video device
ExecStartPre=/usr/bin/xset s noblank

ExecStart=/usr/bin/python /home/pi/screenly/viewer.py
Restart=on-failure

ExecStartPost=/bin/rm -f /tmp/uzbl_*
ExecStartPost=/bin/rm -f /tmp/screenly_html/*

[Install]
WantedBy=multi-user.target
