[Unit]
Description=Screenly Host Agent
After=docker.service
StartLimitIntervalSec=10
StartLimitBurst=3

[Service]
WorkingDirectory=/home/${USER}/screenly
User=${USER}

ExecStart=/usr/bin/python3 /home/${USER}/screenly/host_agent.py
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
