<div class="features background-light" id="features">
    <div class="container-fluid">
        <h2 class="text-center">How Anthias Works</h2>
        <p class="text-center">
            Anthias can turn a Raspberry Pi or an old PC into a powerful digital signage solution that
            shows your content in minutes.
        </p>
        <section class="feature-section d-flex flex-column-reverse flex-md-row justify-content-center align-items-center">
            <div class="feature-img mt-3 mt-md-0">
            </div>
            <div class="feature-text mb-4 mb-md-0 d-md-flex">
                <div class="feature-bullet y-bullet"></div>
                <div>
                    <h3>Free, open-source digital signage software</h3>
                    <p>Access Anthias on GitHub and start managing content on your screens immediately.</p>
                </div>
            </div>
        </section>

        <section class="feature-section d-flex flex-column flex-md-row justify-content-center align-items-center">
            <div class="feature-text mb-4 mb-md-0 d-md-flex">
                <div class="feature-bullet p-bullet"></div>
                <div>
                    <h3>Display images, web pages, and video content</h3>
                    <p>Display multiple content types in beautiful 1080p Full HD resolution.</p>
                </div>
            </div>
            <div class="feature-img mt-3 mt-md-0">
            </div>
        </section>

        <section class="feature-section d-flex flex-column-reverse flex-md-row justify-content-center align-items-center">
            <div class="feature-img mt-3 mt-md-0">
            </div>
            <div class="feature-text mb-4 mb-md-0 d-md-flex">
                <div class="feature-bullet b-bullet"></div>
                <div>
                    <h3>Intuitive interface &amp; content scheduling</h3>
                    <p>Easily add, remove, and schedule content on local network screens.</p>
                </div>
            </div>
        </section>
    </div>
</div>
