<footer>
    <div class="container-fluid bg-container background-dark">
        <div class="text-center">
            <h2 class="mb-4">Get started with Anthias <br/> digital signage software today</h2>
            <p>You can find the entire code base on GitHub &mdash; it's 100% free, forever.</p>
            <a class="btn btn-primary mt-3 mb-5" href="https://github.com/Screenly/Anthias">Get Started</a>
        </div>

        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
            <img class="d-md-none" src="/assets/images/logo-full-mobile.svg" alt="Anthias logo" />
            <img class="d-none d-md-block" src="/assets/images/logo-full.svg" alt="Anthias logo" />
            <nav class="d-flex justify-content-between w-100 my-4 footer-links">
                <a class="text-white text-decoration-none" href="#features">Features</a>
                <a class="text-white text-decoration-none" href="#faq">FAQ</a>
                <a class="text-white text-decoration-none" href="https://www.screenly.io">Screenly</a>
            </nav>
            <div class="d-flex social-icons">
                <a href="https://x.com/ScreenlyApp" target="_blank" rel="noopener"><img src="/assets/images/twitter.svg" alt="Follow on X" /></a>
                <a href="https://www.facebook.com/Screenly" target="_blank" rel="noopener"><img src="/assets/images/fb.svg" alt="Follow on Facebook" /></a>
                <a href="https://www.instagram.com/screenlyapp/" target="_blank" rel="noopener"><img src="/assets/images/instagram.svg" alt="Follow on Instagram" /></a>
                <a href="https://github.com/Screenly" target="_blank" rel="noopener"><img src="/assets/images/gh.svg" alt="Star on GitHub" /></a>
            </div>
        </div>

        <div class="text-center legal mt-5 pt-5">
            &copy; 2022 - {{ now.Year }} Screenly, Inc
        </div>
    </div>
</footer>
