<header class="container-fluid d-flex flex-column flex-md-row">
    <div class="hero-text">
        <h1>Anthias &mdash; open source digital signage</h1>
        <p class="m-0">The world's most popular open source digital signage solution. Turn any TV into a powerful digital sign.</p>
        <div class="d-flex flex-column flex-lg-row justify-content-start py-4 py-lg-5">
            <a class="btn btn-primary mb-3 mb-lg-0 me-lg-4" href="https://github.com/Screenly/Anthias">Get Started</a>
        </div>
        <div class="d-flex align-items-center">
            <iframe src="https://ghbtns.com/github-btn.html?user=Screenly&repo=Anthias&type=star&count=true&size=large" style="border: none;" scrolling="0" width="170" height="30" title="GitHub stars"></iframe>
        </div>
    </div>
    <img
        class="img-fluid d-md-none mt-5"
        srcset="/assets/images/overview-mobile.png, /assets/images/overview-mobile@2x.png 2x, /assets/images/overview-mobile@3x.png 3x"
        src="/assets/images/overview-mobile.png"
        alt="Anthias digital signage dashboard showing scheduled content on a screen"
    />
    <div class="d-none d-md-block hero-img ms-md-4">
        <img
            class="img-fluid"
            srcset="/assets/images/overview.png, /assets/images/overview@2x.png 2x, /assets/images/overview@3x.png 3x"
            src="/assets/images/overview.png"
            alt="Anthias digital signage dashboard showing scheduled content on a screen"
        />
    </div>
</header>
