<div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="d-md-none" src="/assets/images/logo-full-mobile.svg" alt="Anthias logo" />
                <img class="d-none d-md-block" src="/assets/images/logo-full.svg" alt="Anthias logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-nav">
                <ul class="navbar-nav nav-main">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.screenly.io">Screenly</a>
                    </li>
                </ul>
            </div>
            <a class="btn btn-primary d-none d-lg-inline-block" href="https://github.com/Screenly/Anthias">Get Started</a>
        </div>
    </nav>
</div>
