name: Run Unit Tests

on:
  pull_request:
    branches:
      - master
  workflow_call:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build using Docker Compose
        run: |
          docker-compose -f docker-compose.test.yml build

      - name: Start the test container
        run: |
          docker-compose -f docker-compose.test.yml up -d

      - name: Run the tests inside the container
        run: |
          docker-compose -f docker-compose.test.yml exec -T srly-ose-test bash ./bin/run_tests.sh

      - name: Stop the test container
        run: |
          docker-compose -f docker-compose.test.yml down
