name: Run Python Linter

on:
  push:
    branches:
      - 'master'
    paths:
      - '**/*.py'
      - '.github/workflows/python-lint.yaml'
  pull_request:
    branches:
      - master
    paths:
      - '**/*.py'
      - '.github/workflows/python-lint.yaml'

jobs:
  run-python-linter:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install and configure Poetry
      uses: snok/install-poetry@v1
      with:
        version: 1.8.3
        virtualenvs-create: true
        virtualenvs-in-project: false
        virtualenvs-path: ~/.venv
        installer-parallel: true

    - name: Install dependencies
      run: |
        poetry install --only=dev-host

    - name: Run Ruff linting checks
      run: |
        poetry run ruff check .

    - name: Run Ruff formatting checks
      run: |
        poetry run ruff format --check .
