name: Build SBOMs

on:
  push:
    branches:
      - master
    paths:
      - 'package-lock.json'
      - 'poetry.lock'

jobs:
  js-sbom:
    needs: run-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and upload SBOM
        uses: sbomify/github-action@master
        env:
          TOKEN: ${{ secrets.SBOMIFY_TOKEN }}
          COMPONENT_ID: 'LCkvzm8qaL'
          SBOM_FILE: 'package-lock.json'
          AUGMENT: true
          UPLOAD: true

  python-sbom:
    needs: run-tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and upload SBOM
        uses: sbomify/github-action@master
        env:
          TOKEN: ${{ secrets.SBOMIFY_TOKEN }}
          COMPONENT_ID: 'Vhc4zm8pdV'
          SBOM_FILE: 'poetry.lock'
          AUGMENT: true
          UPLOAD: true
