name: Build SBOMs

on:
  push:
    branches:
      - master
    paths:
      - 'package-lock.json'
      - 'uv.lock'

jobs:
  run-tests:
    uses: ./.github/workflows/docker-test.yaml

  js-sbom:
    needs: run-tests
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build and upload SBOM
        uses: sbomify/github-action@master
        env:
          TOKEN: ${{ secrets.SBOMIFY_TOKEN }}
          COMPONENT_ID: 'LCkvzm8qaL'
          SBOM_FILE: 'package-lock.json'
          AUGMENT: true
          UPLOAD: true
          OUTPUT_FILE: js.cdx.json

      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: '${{ github.workspace }}/*.cdx.json'

  python-sbom:
    needs: run-tests
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build and upload SBOM
        uses: sbomify/github-action@master
        env:
          TOKEN: ${{ secrets.SBOMIFY_TOKEN }}
          COMPONENT_ID: 'Vhc4zm8pdV'
          SBOM_FILE: 'uv.lock'
          AUGMENT: true
          UPLOAD: true
          OUTPUT_FILE: python.cdx.json

      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: '${{ github.workspace }}/*.cdx.json'
